In [261]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import pymysql
from sqlalchemy import text
import math

In [262]:
# === ÈÄ£Á∑öÂà∞ MSSQL ===
mssql_conn = pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};'
        'SERVER=LAPTOP-J1OAU7VN;'
        'DATABASE=master;'
        'UID=sa;'
        'PWD=6124Nok45'
)
print("‚úÖ Â∑≤ÈÄ£Êé• MSSQL")

# === ÈÄ£Á∑öÂà∞ MariaDB ===
mariadb_engine = create_engine(
    'mysql+pymysql://root:6124Nok45@127.0.0.1:3306/test?charset=utf8mb4'  # ‚Üê ÊõøÊèõ‰Ω†ÁöÑÂ∏≥Ëôü„ÄÅÂØÜÁ¢º„ÄÅË≥áÊñôÂ∫´
)
print("‚úÖ Â∑≤ÈÄ£Êé• MariaDB")

‚úÖ Â∑≤ÈÄ£Êé• MSSQL
‚úÖ Â∑≤ÈÄ£Êé• MariaDB

In [ ]:
# ÊôÇÈñìÊà≥Ê†ºÂºè
def timestamp():
    return datetime.now().strftime("[%Y-%m-%d %H:%M:%S]")
# Âª∫Á´ãÈåØË™§Á¥ÄÈåÑÊ™î
error_log_path = "error_log.txt"
# Âª∫Á´ãÈñãÊó•Ë™åÊ™îÂæåË®òÈåÑ log ÂÖßÂÆπ
def write_log(msg):
    with open(error_log_path, "a", encoding="utf-8") as log:
        log.write(f"{timestamp()} {msg}\n")
# Êü•Âá∫ table Ë≥áÊñôË°®ÁöÑ‰∏ªÈçµÔºåÁî®Êñº ORDER BY
def get_columns(table_name, engine):
    sql = f"""SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{table_name}' ORDER BY ORDINAL_POSITION;"""
    df = pd.read_sql(sql, engine)
    return df['COLUMN_NAME'].tolist()

# ËΩâÁßªË≥áÊñôË°®ÁöÑÈ†ÜÂ∫è
tables = ['factory','transgress_info','penalty_info','appeal','inspection','labor_law','labor_transgress','payment']
# ËΩâÁßªË≥áÊñôË°®ÂâçÂÖàÊ∏ÖÈô§ÂéüÂßãË≥áÊñôË°®ÂÖßÂÆπ (Âè™ÊòØÁÇ∫‰∫ÜÂú®Ê∏¨Ë©¶Á®ãÂºèÊôÇÊñπ‰æøÔºå‰ΩøÂæó‰∏çÁî®ÊØèÊ¨°Ê∏¨Ë©¶ËΩâÁßªÈÉΩË¶ÅÊâãÂãïÊ∏ÖÁ©∫Ë≥áÊñôË°®)
safe_tables_order = ['appeal','inspection','labor_transgress','labor_law','payment','penalty_info','transgress_info','factory']

total = len(tables)
write_log(f"‚úÖ Ë≥áÊñôËΩâÁßªÂïüÂãï...\n")
write_log(f"üîÅ ÈñãÂßãËΩâÁßªÂÖ± {total} ÂºµË≥áÊñôË°®...\n")
print(f"{timestamp()} üîÅ ÈñãÂßãËΩâÁßªÂÖ± {total} ÂºµË≥áÊñôË°®...\n")

# ÂÖà‰æùÁÖßÂèÉËÄÉÈçµÈôêÂà∂ÁöÑÈ†ÜÂ∫èÂÆâÂÖ®Ê∏ÖÁ©∫ÊâÄÊúâË≥áÊñôË°®
for table in safe_tables_order:
    with mariadb_engine.connect() as conn:
            conn.execute(text(f"DELETE FROM {table}"))
            conn.commit()

# ‰∏ªËø¥ÂúàÔºåÈÅçÊ≠∑ÊØèÂÄãË≥áÊñôË°®ËΩâÁßªË≥áÊñô
for i, table in enumerate(tables, 1):
    print(f"\n  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® {table}...")
    write_log(f"\n  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® {table}...")
    try:
        # Êü•Âá∫ table ÁöÑÊâÄÊúâÊ¨Ñ‰Ωç
        table_sort_keys = get_columns(table, mssql_conn)
        # ÂèñÂá∫ mssql ‰∏≠ table ÁöÑÊâÄÊúâË≥áÊñô
        df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
        mssql_count = len(df) # Ë®òÈåÑ table Ë°®ÁöÑÁ∏ΩË≥áÊñôÁ≠ÜÊï∏
        batch_size = 50000    # ÈÄ≤Ë°åÊØèÊ¨° 50000 Á≠ÜË≥áÊñôÁöÑÊâπÊ¨°ËΩâÁßª
        maria_count = 0       # Ë®òÈåÑ mariaDb Ë≥áÊñôË°®ÁõÆÂâçÁöÑË≥áÊñôÁ≠ÜÊï∏
        # Ë®àÁÆóÁï∂ÂâçË≥áÊñôË°®ÈúÄË¶ÅÂπæÊâπÁöÑËΩâÁßª
        total_batches = math.ceil(mssql_count / batch_size)
        
        for j in range(total_batches):
            start = j * batch_size
            # ÈÅøÂÖçÊúÄÂæå‰∏ÄÊâπË∂ÖÂá∫ÁØÑÂúç
            end = min((j + 1) * batch_size , mssql_count)
            chunk = df[start : end]
            # Â∞á chunk Ë≥áÊñôÂØ´ÂÖ•Âà∞ mariaDB Â∞çÊáâÁöÑË≥áÊñôË°®
            chunk.to_sql(name=table,con=mariadb_engine,index=False,if_exists='append')
            maria_count += len(chunk)
            
            # È©óË≠âÈÄô‰∏ÄÊâπÊ¨°ÁöÑËΩâÁßªÂÖßÂÆπÊòØÂê¶‰∏ÄËá¥
            # ÂàÜÂà•ËÆÄÂèñ MSSQL Ëàá MariaDB ‰∏≠Ë©≤ÊâπË≥áÊñô
            
            mssql_batch_df = pd.read_sql(
                f"SELECT * FROM {table} ORDER BY (SELECT NULL) OFFSET {j * batch_size} ROWS FETCH NEXT {batch_size} ROWS ONLY;",
                mssql_conn
            )
            maria_batch_df = pd.read_sql(
                f"SELECT * FROM {table} LIMIT {batch_size} OFFSET {j * batch_size};",
                mariadb_engine
            )
            # ËÆìË≥áÊñô‰æùÁÖß sort_columns ÊéíÂ∫èÔºåÂÅö ORDER BY ÁöÑÊ¶ÇÂøµ
            # reset_index(drop=True) ÂéªÈô§ÂéüÂßãË≥áÊñôÈõÜÁöÑ indexÔºåÈáçÊñ∞Á∑®Á¢º
            mssql_batch_df = mssql_batch_df.sort_values(by=table_sort_keys).reset_index(drop=True)
            maria_batch_df = maria_batch_df.sort_values(by=table_sort_keys).reset_index(drop=True)
            
            # ÊØîÂ∞ç dataframe
            if mssql_batch_df.equals(maria_batch_df):
                write_log(f"‚úÖ Á¨¨ {j + 1} ÊâπÊ¨°ÊØîÂ∞ç‰∏ÄËá¥Ôºà{start} ~ {end} Á≠Ü")
            else:
                write_log(f"‚ùóÁ¨¨ {j + 1} ÊâπÊ¨°ÊØîÂ∞ç‰∏ç‰∏ÄËá¥\n")
                print(f"{timestamp()}‚ùóÁ¨¨ {j + 1} ÊâπÊ¨°ÊØîÂ∞ç‰∏ç‰∏ÄËá¥\n")
                
                # ÈÄêÊ†ºÊØîËºÉÂÖ©ÂÄã DataFrame ÁöÑÊØèÂÄãÊ¨Ñ‰ΩçÂÄºÊòØÂê¶‰∏ÄÊ®£ÔºåÂõûÂÇ≥‰∏ÄÂÄãÊñ∞ DataFrameÔºåÈ°ØÁ§∫Âì™‰∫õÊ†ºÂ≠êÂÄº‰∏çÂêå„ÄÇ
                # keep_shape=TrueÔºå‰øùÁïôÂéüÊú¨ÁöÑ DataFrame ÁµêÊßã„ÄÇ
                # keep_equal=False ‰ª£Ë°®Áõ∏ÂêåÁöÑÊ¨Ñ‰ΩçÂÄº‰πüÊúÉ‰øùÁïôÔºåÂÖ∂ÂÄºË®≠ÁÇ∫ Nan„ÄÇ
                diff = mssql_batch_df.compare(maria_batch_df, keep_shape=True, keep_equal=False)
                
                # Ê®ôÂá∫Âì™ÂπæÂàó‰∏çÂêå
                error_indices = diff.dropna(how='all').index.tolist()
                
                write_log(f"‚ö†Ô∏è ÂÖ±ÁôºÁèæ {len(error_indices)} Á≠Ü‰∏ç‰∏ÄËá¥\n")
                
                # ÈÅ∏ÊìáÂÖ∂‰∏≠ÂπæÁ≠ÜÂàóÂá∫Ë©≥Á¥∞Â∑ÆÁï∞Ôºà‰æãÂ¶ÇÊúÄÂ§öÈ°ØÁ§∫Ââç 3 Á≠ÜÔºâ
                for idx in error_indices[:3]:
                    write_log(f" Á¨¨ {j + 1} ÊâπÔºåÁ¨¨ {idx} Á≠ÜË≥áÊñô‰∏ç‰∏ÄËá¥\n")
                    # ÂàóÂá∫ÂÖ©ÈÇäË≥áÊñôÂ∫´‰∏ç‰∏ÄËá¥ÁöÑÈÇ£ÂàóË≥áÊñôÂÖßÂÆπ
                    write_log(f" MSSQLÔºö{mssql_batch_df.iloc[idx].to_dict()}\n")
                    write_log(f" MariaDBÔºö{maria_batch_df.iloc[idx].to_dict()}\n")

        # ÁõÆÂâçË≥áÊñôË°®ÊâÄÊúâË≥áÊñôËΩâÁßªÂÆåÁï¢ÂæåÔºåÈ©óË≠âÂÖ©ÈÇäË≥áÊñôË°®Ë≥áÊñôÁ≠ÜÊï∏ÊòØÂê¶‰∏ÄËá¥
        maria_count_df = pd.read_sql(f"SELECT COUNT(*) AS total FROM {table}", mariadb_engine)
        maria_count = int(maria_count_df.iloc[0]['total'])
            
        if mssql_count == maria_count:
            print(f"{timestamp()} üì¶ {i}/{total} {table}Ôºö{mssql_count} rows ‚úî (Á∏ΩË≥áÊñôÁ≠ÜÊï∏‰∏ÄËá¥)")
            write_log(f"üì¶ {i}/{total} {table}Ôºö{mssql_count} rows ‚úî (Á∏ΩË≥áÊñôÁ≠ÜÊï∏‰∏ÄËá¥)")
        else:
            print(f"{timestamp()} ‚ö†Ô∏è {i}/{total} {table}ÔºöMSSQL={mssql_count}, MariaDB={maria_count} (‚ö†Ô∏è ‰∏ç‰∏ÄËá¥)")
            write_log(f"‚ùó Á∏ΩË≥áÊñôÁ≠ÜÊï∏‰∏ç‰∏ÄËá¥ - {table}ÔºöMSSQL={mssql_count}, MariaDB={maria_count}\n")

        # È©óË≠âÂÖ©ÈÇäË≥áÊñôË°®Ë≥áÊñôÂÖßÂÆπÊòØÂê¶‰∏ÄËá¥
        
    # ËΩâÁßª‰∏≠ÁôºÁîüË≥áÊñôÂ∫´Êìç‰ΩúÈåØË™§
    except Exception as e:
        print(f"{timestamp()} ‚ùå {i}/{total} {table} ÁôºÁîüÈåØË™§Ôºö{e}")
        write_log(f"‚ùå ËΩâÁßªÂ§±Êïó - {table}Ôºö{str(e)}\n")

print(f"\n{timestamp()} ‚úÖ ÂÖ®ÈÉ®ËΩâÁßªËôïÁêÜÂÆåÊàêÔºÅË´ãÊü•Áúã error_log.txtÔºàÂ¶ÇÊúâÔºâ")

[2025-06-16 01:57:22] üîÅ ÈñãÂßãËΩâÁßªÂÖ± 8 ÂºµË≥áÊñôË°®...

  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® factory...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 01:57:36] üì¶ 1/8 factoryÔºö111479 rows ‚úî (‰∏ÄËá¥)
  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® transgress_info...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 01:58:58] üì¶ 2/8 transgress_infoÔºö362895 rows ‚úî (‰∏ÄËá¥)
  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® penalty_info...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:00:05] üì¶ 3/8 penalty_infoÔºö362895 rows ‚úî (‰∏ÄËá¥)
  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® appeal...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:00:08] üì¶ 4/8 appealÔºö16785 rows ‚úî (‰∏ÄËá¥)
  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® inspection...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:00:08] üì¶ 5/8 inspectionÔºö3086 rows ‚úî (‰∏ÄËá¥)
  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® labor_law...

[2025-06-16 02:00:08] üì¶ 6/8 labor_lawÔºö17 rows ‚úî (‰∏ÄËá¥)
  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® labor_transgress...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:02:45] üì¶ 7/8 labor_transgressÔºö1020443 rows ‚úî (‰∏ÄËá¥)
  Ê≠£Âú®ËΩâÁßªË≥áÊñôË°® payment...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:03:12] üì¶ 8/8 paymentÔºö362895 rows ‚úî (‰∏ÄËá¥)

[2025-06-16 02:03:12] ‚úÖ ÂÖ®ÈÉ®ËΩâÁßªËôïÁêÜÂÆåÊàêÔºÅË´ãÊü•Áúã error_log.txtÔºàÂ¶ÇÊúâÔºâ

In [257]:
get_columns('appeal', mssql_conn)

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1605053262.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)

['caseId',
 'document_no',
 'fac_uniformno',
 'fac_name',
 'appeal_or_rescind',
 'ispetition',
 'lawsuit_date_1',
 'petition_agency',
 'petition_results']

In [238]:
mssql_batch_df = pd.read_sql(
                f"SELECT * FROM factory ORDER BY (SELECT NULL) OFFSET 50000 ROWS FETCH NEXT 50000 ROWS ONLY;",
                mssql_conn
            )
maria_batch_df = pd.read_sql(
                f"SELECT * FROM factory LIMIT 50000 OFFSET 50000;",
                mariadb_engine
            )

C:\Users\User\AppData\Local\Temp\ipykernel_4156\3531699185.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

In [239]:
maria_batch_df

,fac_uniformno,fac_name,fac_area_code,fac_address,ems_no
0,41583802,Ê∞∏Âª∫Á§¶Ê•≠ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10002030,ÂÆúËò≠Á∏£ËòáÊæ≥ÈéÆËòáÂçóË∑Ø24‰πã1Ëôü4Ê®ì,U0103375
1,41608901,Â§ßÂéüÂ∑•Á§¶ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏Â§ßÂéüÂ∑•Á§¶ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏Áî≥Ë´ãÊ†∏ÂÆöËÆäÊõ¥Ê†∏ÂÆöÂèäÈÉ®ÂàÜË®ªÈä∑ÂíåÂπ≥‰∫ãÊ•≠ÂçÄÁ¨¨85ÊûóÁè≠Âú∞Á§¶Ê•≠...,10002080,ÂÆúËò≠Á∏£ÂÜ¨Â±±ÈÑâÊàêËààË∑Ø690Â∑∑1Ëôü1Ê®ì,G41097000054
2,41608901,Â§ßÂéüÂ∑•Á§¶ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏ÈÅ∏Á¢éÁ§¶Â†¥,10002120,ÂÆúËò≠Á∏£ÂçóÊæ≥ÈÑâÁÄëÂ∏ÉÊÆµ‰∏Ä‰∏ÉÂú∞Ëôü,G4103321
3,41609107,ÂÖâÂçóÂÜ∑ÂáçÂª†ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10002030,ÂÆúËò≠Á∏£ËòáÊæ≥ÈéÆËèØÂ±±Ë∑Ø‰∏ÄÂõõ‰πùËôü,G32097000171
4,41615109,ÂêåÊ¶ÆÂØ¶Ê•≠ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10002080,ÂÆúËò≠Á∏£ÂÜ¨Â±±ÈÑâÈ¶ôÂíåÊùëÈ¶ô‰∏≠Ë∑Ø‰∏ÄËôü,G3700906
...,...,...,...,...,...
49995,96917698,ÂÆ•Ë™†ÁßëÊäÄËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10004010,Êñ∞Á´πÁ∏£Á´πÂåóÂ∏ÇÂçÅËààÈáåÁäÅÈ†≠Â±±‰∏ãÂõõ‰∏ÉËôü,J5505521
49996,96917894,Ê≠£Ëæ¶ÂØ¶Ê•≠ÊúâÈôêÂÖ¨Âè∏,66000250,Ëá∫‰∏≠Â∏ÇÈæç‰∫ïÂçÄÂ±±ËÖ≥Èáå‰∏≠Â±±‰∏≠Ë∑Ø‰∫åÊÆµ‰∫îÂõõ‰∏ÄÂ∑∑ÂÖ≠Ëôü,L0200820
49997,96918036,Êñ∞Á¶èÊòüÁáüÈÄ†ÊúâÈôêÂÖ¨Âè∏,65000100,Êñ∞ÂåóÂ∏ÇÊ∑°Ê∞¥ÂçÄÊ∞ëÊ¨äË∑ØÂõõ‰∫åËôü‰∫îÊ®ì,F10097008738
49998,96918351,Âà©ÊîøÁáüÈÄ†ÊúâÈôêÂÖ¨Âè∏,10008030,ÂçóÊäïÁ∏£ËçâÂ±ØÈéÆÂØåÊûóË∑Ø‰∏ÄÊÆµ‰∏ÄÂÖ≠‰πùËôü‰∫åÊ®ì,M35097003679
49999,96919128,ÊàäËâÆÁáüÈÄ†ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10009010,Èõ≤ÊûóÁ∏£ÊñóÂÖ≠Â∏ÇÊ¶¥ÂçóÈáåÂçó‰ªÅË∑Ø‰πù‚óã‰πã‰∏Ä‰∫îËôü‰∏ÄÊ®ì,P46097004479

In [240]:
mssql_batch_df

,fac_uniformno,fac_name,fac_area_code,fac_address,ems_no
0,41583802,Ê∞∏Âª∫Á§¶Ê•≠ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10002030,ÂÆúËò≠Á∏£ËòáÊæ≥ÈéÆËòáÂçóË∑Ø24‰πã1Ëôü4Ê®ì,U0103375
1,41608901,Â§ßÂéüÂ∑•Á§¶ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏Â§ßÂéüÂ∑•Á§¶ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏Áî≥Ë´ãÊ†∏ÂÆöËÆäÊõ¥Ê†∏ÂÆöÂèäÈÉ®ÂàÜË®ªÈä∑ÂíåÂπ≥‰∫ãÊ•≠ÂçÄÁ¨¨85ÊûóÁè≠Âú∞Á§¶Ê•≠...,10002080,ÂÆúËò≠Á∏£ÂÜ¨Â±±ÈÑâÊàêËààË∑Ø690Â∑∑1Ëôü1Ê®ì,G41097000054
2,41608901,Â§ßÂéüÂ∑•Á§¶ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏ÈÅ∏Á¢éÁ§¶Â†¥,10002120,ÂÆúËò≠Á∏£ÂçóÊæ≥ÈÑâÁÄëÂ∏ÉÊÆµ‰∏Ä‰∏ÉÂú∞Ëôü,G4103321
3,41609107,ÂÖâÂçóÂÜ∑ÂáçÂª†ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10002030,ÂÆúËò≠Á∏£ËòáÊæ≥ÈéÆËèØÂ±±Ë∑Ø‰∏ÄÂõõ‰πùËôü,G32097000171
4,41615109,ÂêåÊ¶ÆÂØ¶Ê•≠ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10002080,ÂÆúËò≠Á∏£ÂÜ¨Â±±ÈÑâÈ¶ôÂíåÊùëÈ¶ô‰∏≠Ë∑Ø‰∏ÄËôü,G3700906
...,...,...,...,...,...
49995,96917698,ÂÆ•Ë™†ÁßëÊäÄËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10004010,Êñ∞Á´πÁ∏£Á´πÂåóÂ∏ÇÂçÅËààÈáåÁäÅÈ†≠Â±±‰∏ãÂõõ‰∏ÉËôü,J5505521
49996,96917894,Ê≠£Ëæ¶ÂØ¶Ê•≠ÊúâÈôêÂÖ¨Âè∏,66000250,Ëá∫‰∏≠Â∏ÇÈæç‰∫ïÂçÄÂ±±ËÖ≥Èáå‰∏≠Â±±‰∏≠Ë∑Ø‰∫åÊÆµ‰∫îÂõõ‰∏ÄÂ∑∑ÂÖ≠Ëôü,L0200820
49997,96918036,Êñ∞Á¶èÊòüÁáüÈÄ†ÊúâÈôêÂÖ¨Âè∏,65000100,Êñ∞ÂåóÂ∏ÇÊ∑°Ê∞¥ÂçÄÊ∞ëÊ¨äË∑ØÂõõ‰∫åËôü‰∫îÊ®ì,F10097008738
49998,96918351,Âà©ÊîøÁáüÈÄ†ÊúâÈôêÂÖ¨Âè∏,10008030,ÂçóÊäïÁ∏£ËçâÂ±ØÈéÆÂØåÊûóË∑Ø‰∏ÄÊÆµ‰∏ÄÂÖ≠‰πùËôü‰∫åÊ®ì,M35097003679
49999,96919128,ÊàäËâÆÁáüÈÄ†ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10009010,Èõ≤ÊûóÁ∏£ÊñóÂÖ≠Â∏ÇÊ¶¥ÂçóÈáåÂçó‰ªÅË∑Ø‰πù‚óã‰πã‰∏Ä‰∫îËôü‰∏ÄÊ®ì,P46097004479

In [156]:
mssql_batch_df = pd.read_sql(
                f"SELECT * FROM factory ORDER BY fac_uniformno,fac_area_code,fac_address,ems_no OFFSET 100000 ROWS FETCH NEXT 50000 ROWS ONLY;",
                mssql_conn
            )
maria_batch_df = pd.read_sql(
                f"SELECT * FROM factory ORDER BY fac_uniformno,fac_area_code,fac_address,ems_no LIMIT 50000 OFFSET 100000;",
                mariadb_engine
            )

C:\Users\User\AppData\Local\Temp\ipykernel_4156\3490729616.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

In [212]:
mssql_batch_df.iloc[0:2]

,fac_uniformno,fac_name,fac_area_code,fac_address,ems_no
0,96919128,ÊàäËâÆÁáüÈÄ†ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏,10009010,Èõ≤ÊûóÁ∏£ÊñóÂÖ≠Â∏ÇÊ¶¥ÂçóÈáåÂçó‰ªÅË∑Ø‰πù‚óã‰πã‰∏Ä‰∫îËôü‰∏ÄÊ®ì,P46097004479
1,96919302,Â∞öË∞∑ÁáüÈÄ†ÊúâÈôêÂÖ¨Âè∏,65000050,Êñ∞ÂåóÂ∏ÇÊñ∞ËéäÂçÄÊñ∞ÂåóÂ§ßÈÅì‰∏ÉÊÆµÂõõ‰πùÂÖ´Â∑∑‰∏ÄÂÖ´Ëôü‰∏Ä‰∏âÊ®ì,F06097018114

In [213]:
maria_batch_df.iloc[0:2]

,fac_uniformno,fac_name,fac_area_code,fac_address,ems_no
0,96919128,ÊàäËâÆÁáüÈÄ†ËÇ°‰ªΩÊúâÈôêÂÖ¨Âè∏Â§©‰∏ä‰∫∫ÈñìÁ≤æÂìÅÊóÖÈ§®Êñ∞Âª∫Â∑•Á®ã,10009010,Èõ≤ÊûóÁ∏£ÊñóÂÖ≠Â∏ÇÊµ∑Ë±êÂ¥ôÊÆµÊú±‰∏πÁÅ£Â∞èÊÆµÂÖ≠‰∫å‰πã‰∏Ä‰∏âÂÖ´Âú∞Ëôü,P46A5376
1,96919302,Â∞öË∞∑ÁáüÈÄ†ÊúâÈôêÂÖ¨Âè∏,65000050,Êñ∞ÂåóÂ∏ÇÊñ∞ËéäÂçÄÊñ∞ÂåóÂ§ßÈÅì‰∏ÉÊÆµÂõõ‰πùÂÖ´Â∑∑‰∏ÄÂÖ´Ëôü‰∏Ä‰∏âÊ®ì,F06097018114