In [261]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import pymysql
from sqlalchemy import text
import math

In [262]:
# === é€£ç·šåˆ° MSSQL ===
mssql_conn = pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};'
        'SERVER=LAPTOP-J1OAU7VN;'
        'DATABASE=master;'
        'UID=sa;'
        'PWD=6124Nok45'
)
print("âœ… å·²é€£æ¥ MSSQL")

# === é€£ç·šåˆ° MariaDB ===
mariadb_engine = create_engine(
    'mysql+pymysql://root:6124Nok45@127.0.0.1:3306/test?charset=utf8mb4'  # â† æ›¿æ›ä½ çš„å¸³è™Ÿã€å¯†ç¢¼ã€è³‡æ–™åº«
)
print("âœ… å·²é€£æ¥ MariaDB")

âœ… å·²é€£æ¥ MSSQL
âœ… å·²é€£æ¥ MariaDB

In [ ]:
# æ™‚é–“æˆ³æ ¼å¼
def timestamp():
    return datetime.now().strftime("[%Y-%m-%d %H:%M:%S]")
# å»ºç«‹éŒ¯èª¤ç´€éŒ„æª”
error_log_path = "error_log.txt"
# å»ºç«‹é–‹æ—¥èªŒæª”å¾Œè¨˜éŒ„ log å…§å®¹
def write_log(msg):
    with open(error_log_path, "a", encoding="utf-8") as log:
        log.write(f"{timestamp()} {msg}\n")
# æŸ¥å‡º table è³‡æ–™è¡¨çš„ä¸»éµï¼Œç”¨æ–¼ ORDER BY
def get_columns(table_name, engine):
    sql = f"""SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{table_name}' ORDER BY ORDINAL_POSITION;"""
    df = pd.read_sql(sql, engine)
    return df['COLUMN_NAME'].tolist()

# è½‰ç§»è³‡æ–™è¡¨çš„é †åº
tables = ['factory','transgress_info','penalty_info','appeal','inspection','labor_law','labor_transgress','payment']
# è½‰ç§»è³‡æ–™è¡¨å‰å…ˆæ¸…é™¤åŸå§‹è³‡æ–™è¡¨å…§å®¹ (åªæ˜¯ç‚ºäº†åœ¨æ¸¬è©¦ç¨‹å¼æ™‚æ–¹ä¾¿ï¼Œä½¿å¾—ä¸ç”¨æ¯æ¬¡æ¸¬è©¦è½‰ç§»éƒ½è¦æ‰‹å‹•æ¸…ç©ºè³‡æ–™è¡¨)
safe_tables_order = ['appeal','inspection','labor_transgress','labor_law','payment','penalty_info','transgress_info','factory']

total = len(tables)
write_log(f"âœ… è³‡æ–™è½‰ç§»å•Ÿå‹•...\n")
write_log(f"ğŸ” é–‹å§‹è½‰ç§»å…± {total} å¼µè³‡æ–™è¡¨...\n")
print(f"{timestamp()} ğŸ” é–‹å§‹è½‰ç§»å…± {total} å¼µè³‡æ–™è¡¨...\n")

# å…ˆä¾ç…§åƒè€ƒéµé™åˆ¶çš„é †åºå®‰å…¨æ¸…ç©ºæ‰€æœ‰è³‡æ–™è¡¨
for table in safe_tables_order:
    with mariadb_engine.connect() as conn:
            conn.execute(text(f"DELETE FROM {table}"))
            conn.commit()

# ä¸»è¿´åœˆï¼Œéæ­·æ¯å€‹è³‡æ–™è¡¨è½‰ç§»è³‡æ–™
for i, table in enumerate(tables, 1):
    print(f"\n  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ {table}...")
    write_log(f"\n  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ {table}...")
    try:
        # æŸ¥å‡º table çš„æ‰€æœ‰æ¬„ä½
        table_sort_keys = get_columns(table, mssql_conn)
        # å–å‡º mssql ä¸­ table çš„æ‰€æœ‰è³‡æ–™
        df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
        mssql_count = len(df) # è¨˜éŒ„ table è¡¨çš„ç¸½è³‡æ–™ç­†æ•¸
        batch_size = 50000    # é€²è¡Œæ¯æ¬¡ 50000 ç­†è³‡æ–™çš„æ‰¹æ¬¡è½‰ç§»
        maria_count = 0       # è¨˜éŒ„ mariaDb è³‡æ–™è¡¨ç›®å‰çš„è³‡æ–™ç­†æ•¸
        # è¨ˆç®—ç•¶å‰è³‡æ–™è¡¨éœ€è¦å¹¾æ‰¹çš„è½‰ç§»
        total_batches = math.ceil(mssql_count / batch_size)
        
        for j in range(total_batches):
            start = j * batch_size
            # é¿å…æœ€å¾Œä¸€æ‰¹è¶…å‡ºç¯„åœ
            end = min((j + 1) * batch_size , mssql_count)
            chunk = df[start : end]
            # å°‡ chunk è³‡æ–™å¯«å…¥åˆ° mariaDB å°æ‡‰çš„è³‡æ–™è¡¨
            chunk.to_sql(name=table,con=mariadb_engine,index=False,if_exists='append')
            maria_count += len(chunk)
            
            # é©—è­‰é€™ä¸€æ‰¹æ¬¡çš„è½‰ç§»å…§å®¹æ˜¯å¦ä¸€è‡´
            # åˆ†åˆ¥è®€å– MSSQL èˆ‡ MariaDB ä¸­è©²æ‰¹è³‡æ–™
            
            mssql_batch_df = pd.read_sql(
                f"SELECT * FROM {table} ORDER BY (SELECT NULL) OFFSET {j * batch_size} ROWS FETCH NEXT {batch_size} ROWS ONLY;",
                mssql_conn
            )
            maria_batch_df = pd.read_sql(
                f"SELECT * FROM {table} LIMIT {batch_size} OFFSET {j * batch_size};",
                mariadb_engine
            )
            # è®“è³‡æ–™ä¾ç…§ sort_columns æ’åºï¼Œåš ORDER BY çš„æ¦‚å¿µ
            # reset_index(drop=True) å»é™¤åŸå§‹è³‡æ–™é›†çš„ indexï¼Œé‡æ–°ç·¨ç¢¼
            mssql_batch_df = mssql_batch_df.sort_values(by=table_sort_keys).reset_index(drop=True)
            maria_batch_df = maria_batch_df.sort_values(by=table_sort_keys).reset_index(drop=True)
            
            # æ¯”å° dataframe
            if mssql_batch_df.equals(maria_batch_df):
                write_log(f"âœ… ç¬¬ {j + 1} æ‰¹æ¬¡æ¯”å°ä¸€è‡´ï¼ˆ{start} ~ {end} ç­†")
            else:
                write_log(f"â—ç¬¬ {j + 1} æ‰¹æ¬¡æ¯”å°ä¸ä¸€è‡´\n")
                print(f"{timestamp()}â—ç¬¬ {j + 1} æ‰¹æ¬¡æ¯”å°ä¸ä¸€è‡´\n")
                
                # é€æ ¼æ¯”è¼ƒå…©å€‹ DataFrame çš„æ¯å€‹æ¬„ä½å€¼æ˜¯å¦ä¸€æ¨£ï¼Œå›å‚³ä¸€å€‹æ–° DataFrameï¼Œé¡¯ç¤ºå“ªäº›æ ¼å­å€¼ä¸åŒã€‚
                # keep_shape=Trueï¼Œä¿ç•™åŸæœ¬çš„ DataFrame çµæ§‹ã€‚
                # keep_equal=False ä»£è¡¨ç›¸åŒçš„æ¬„ä½å€¼ä¹Ÿæœƒä¿ç•™ï¼Œå…¶å€¼è¨­ç‚º Nanã€‚
                diff = mssql_batch_df.compare(maria_batch_df, keep_shape=True, keep_equal=False)
                
                # æ¨™å‡ºå“ªå¹¾åˆ—ä¸åŒ
                error_indices = diff.dropna(how='all').index.tolist()
                
                write_log(f"âš ï¸ å…±ç™¼ç¾ {len(error_indices)} ç­†ä¸ä¸€è‡´\n")
                
                # é¸æ“‡å…¶ä¸­å¹¾ç­†åˆ—å‡ºè©³ç´°å·®ç•°ï¼ˆä¾‹å¦‚æœ€å¤šé¡¯ç¤ºå‰ 3 ç­†ï¼‰
                for idx in error_indices[:3]:
                    write_log(f" ç¬¬ {j + 1} æ‰¹ï¼Œç¬¬ {idx} ç­†è³‡æ–™ä¸ä¸€è‡´\n")
                    # åˆ—å‡ºå…©é‚Šè³‡æ–™åº«ä¸ä¸€è‡´çš„é‚£åˆ—è³‡æ–™å…§å®¹
                    write_log(f" MSSQLï¼š{mssql_batch_df.iloc[idx].to_dict()}\n")
                    write_log(f" MariaDBï¼š{maria_batch_df.iloc[idx].to_dict()}\n")

        # ç›®å‰è³‡æ–™è¡¨æ‰€æœ‰è³‡æ–™è½‰ç§»å®Œç•¢å¾Œï¼Œé©—è­‰å…©é‚Šè³‡æ–™è¡¨è³‡æ–™ç­†æ•¸æ˜¯å¦ä¸€è‡´
        maria_count_df = pd.read_sql(f"SELECT COUNT(*) AS total FROM {table}", mariadb_engine)
        maria_count = int(maria_count_df.iloc[0]['total'])
            
        if mssql_count == maria_count:
            print(f"{timestamp()} ğŸ“¦ {i}/{total} {table}ï¼š{mssql_count} rows âœ” (ç¸½è³‡æ–™ç­†æ•¸ä¸€è‡´)")
            write_log(f"ğŸ“¦ {i}/{total} {table}ï¼š{mssql_count} rows âœ” (ç¸½è³‡æ–™ç­†æ•¸ä¸€è‡´)")
        else:
            print(f"{timestamp()} âš ï¸ {i}/{total} {table}ï¼šMSSQL={mssql_count}, MariaDB={maria_count} (âš ï¸ ä¸ä¸€è‡´)")
            write_log(f"â— ç¸½è³‡æ–™ç­†æ•¸ä¸ä¸€è‡´ - {table}ï¼šMSSQL={mssql_count}, MariaDB={maria_count}\n")

        # é©—è­‰å…©é‚Šè³‡æ–™è¡¨è³‡æ–™å…§å®¹æ˜¯å¦ä¸€è‡´
        
    # è½‰ç§»ä¸­ç™¼ç”Ÿè³‡æ–™åº«æ“ä½œéŒ¯èª¤
    except Exception as e:
        print(f"{timestamp()} âŒ {i}/{total} {table} ç™¼ç”ŸéŒ¯èª¤ï¼š{e}")
        write_log(f"âŒ è½‰ç§»å¤±æ•— - {table}ï¼š{str(e)}\n")

print(f"\n{timestamp()} âœ… å…¨éƒ¨è½‰ç§»è™•ç†å®Œæˆï¼è«‹æŸ¥çœ‹ error_log.txtï¼ˆå¦‚æœ‰ï¼‰")

[2025-06-16 01:57:22] ğŸ” é–‹å§‹è½‰ç§»å…± 8 å¼µè³‡æ–™è¡¨...

  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ factory...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 01:57:36] ğŸ“¦ 1/8 factoryï¼š111479 rows âœ” (ä¸€è‡´)
  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ transgress_info...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 01:58:58] ğŸ“¦ 2/8 transgress_infoï¼š362895 rows âœ” (ä¸€è‡´)
  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ penalty_info...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:00:05] ğŸ“¦ 3/8 penalty_infoï¼š362895 rows âœ” (ä¸€è‡´)
  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ appeal...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:00:08] ğŸ“¦ 4/8 appealï¼š16785 rows âœ” (ä¸€è‡´)
  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ inspection...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:00:08] ğŸ“¦ 5/8 inspectionï¼š3086 rows âœ” (ä¸€è‡´)
  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ labor_law...

[2025-06-16 02:00:08] ğŸ“¦ 6/8 labor_lawï¼š17 rows âœ” (ä¸€è‡´)
  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ labor_transgress...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:02:45] ğŸ“¦ 7/8 labor_transgressï¼š1020443 rows âœ” (ä¸€è‡´)
  æ­£åœ¨è½‰ç§»è³‡æ–™è¡¨ payment...

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mssql_conn)
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(
C:\Users\User\AppData\Local\Temp\ipykernel_4156\1082431605.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

[2025-06-16 02:03:12] ğŸ“¦ 8/8 paymentï¼š362895 rows âœ” (ä¸€è‡´)

[2025-06-16 02:03:12] âœ… å…¨éƒ¨è½‰ç§»è™•ç†å®Œæˆï¼è«‹æŸ¥çœ‹ error_log.txtï¼ˆå¦‚æœ‰ï¼‰

In [257]:
get_columns('appeal', mssql_conn)

C:\Users\User\AppData\Local\Temp\ipykernel_4156\1605053262.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)

['caseId',
 'document_no',
 'fac_uniformno',
 'fac_name',
 'appeal_or_rescind',
 'ispetition',
 'lawsuit_date_1',
 'petition_agency',
 'petition_results']

In [238]:
mssql_batch_df = pd.read_sql(
                f"SELECT * FROM factory ORDER BY (SELECT NULL) OFFSET 50000 ROWS FETCH NEXT 50000 ROWS ONLY;",
                mssql_conn
            )
maria_batch_df = pd.read_sql(
                f"SELECT * FROM factory LIMIT 50000 OFFSET 50000;",
                mariadb_engine
            )

C:\Users\User\AppData\Local\Temp\ipykernel_4156\3531699185.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

In [239]:
maria_batch_df

,fac_uniformno,fac_name,fac_area_code,fac_address,ems_no
0,41583802,æ°¸å»ºç¤¦æ¥­è‚¡ä»½æœ‰é™å…¬å¸,10002030,å®œè˜­ç¸£è˜‡æ¾³é®è˜‡å—è·¯24ä¹‹1è™Ÿ4æ¨“,U0103375
1,41608901,å¤§åŸå·¥ç¤¦è‚¡ä»½æœ‰é™å…¬å¸å¤§åŸå·¥ç¤¦è‚¡ä»½æœ‰é™å…¬å¸ç”³è«‹æ ¸å®šè®Šæ›´æ ¸å®šåŠéƒ¨åˆ†è¨»éŠ·å’Œå¹³äº‹æ¥­å€ç¬¬85æ—ç­åœ°ç¤¦æ¥­...,10002080,å®œè˜­ç¸£å†¬å±±é„‰æˆèˆˆè·¯690å··1è™Ÿ1æ¨“,G41097000054
2,41608901,å¤§åŸå·¥ç¤¦è‚¡ä»½æœ‰é™å…¬å¸é¸ç¢ç¤¦å ´,10002120,å®œè˜­ç¸£å—æ¾³é„‰ç€‘å¸ƒæ®µä¸€ä¸ƒåœ°è™Ÿ,G4103321
3,41609107,å…‰å—å†·å‡å» è‚¡ä»½æœ‰é™å…¬å¸,10002030,å®œè˜­ç¸£è˜‡æ¾³é®è¯å±±è·¯ä¸€å››ä¹è™Ÿ,G32097000171
4,41615109,åŒæ¦®å¯¦æ¥­è‚¡ä»½æœ‰é™å…¬å¸,10002080,å®œè˜­ç¸£å†¬å±±é„‰é¦™å’Œæ‘é¦™ä¸­è·¯ä¸€è™Ÿ,G3700906
...,...,...,...,...,...
49995,96917698,å®¥èª ç§‘æŠ€è‚¡ä»½æœ‰é™å…¬å¸,10004010,æ–°ç«¹ç¸£ç«¹åŒ—å¸‚åèˆˆé‡ŒçŠé ­å±±ä¸‹å››ä¸ƒè™Ÿ,J5505521
49996,96917894,æ­£è¾¦å¯¦æ¥­æœ‰é™å…¬å¸,66000250,è‡ºä¸­å¸‚é¾äº•å€å±±è…³é‡Œä¸­å±±ä¸­è·¯äºŒæ®µäº”å››ä¸€å··å…­è™Ÿ,L0200820
49997,96918036,æ–°ç¦æ˜Ÿç‡Ÿé€ æœ‰é™å…¬å¸,65000100,æ–°åŒ—å¸‚æ·¡æ°´å€æ°‘æ¬Šè·¯å››äºŒè™Ÿäº”æ¨“,F10097008738
49998,96918351,åˆ©æ”¿ç‡Ÿé€ æœ‰é™å…¬å¸,10008030,å—æŠ•ç¸£è‰å±¯é®å¯Œæ—è·¯ä¸€æ®µä¸€å…­ä¹è™ŸäºŒæ¨“,M35097003679
49999,96919128,æˆŠè‰®ç‡Ÿé€ è‚¡ä»½æœ‰é™å…¬å¸,10009010,é›²æ—ç¸£æ–—å…­å¸‚æ¦´å—é‡Œå—ä»è·¯ä¹â—‹ä¹‹ä¸€äº”è™Ÿä¸€æ¨“,P46097004479

In [240]:
mssql_batch_df

,fac_uniformno,fac_name,fac_area_code,fac_address,ems_no
0,41583802,æ°¸å»ºç¤¦æ¥­è‚¡ä»½æœ‰é™å…¬å¸,10002030,å®œè˜­ç¸£è˜‡æ¾³é®è˜‡å—è·¯24ä¹‹1è™Ÿ4æ¨“,U0103375
1,41608901,å¤§åŸå·¥ç¤¦è‚¡ä»½æœ‰é™å…¬å¸å¤§åŸå·¥ç¤¦è‚¡ä»½æœ‰é™å…¬å¸ç”³è«‹æ ¸å®šè®Šæ›´æ ¸å®šåŠéƒ¨åˆ†è¨»éŠ·å’Œå¹³äº‹æ¥­å€ç¬¬85æ—ç­åœ°ç¤¦æ¥­...,10002080,å®œè˜­ç¸£å†¬å±±é„‰æˆèˆˆè·¯690å··1è™Ÿ1æ¨“,G41097000054
2,41608901,å¤§åŸå·¥ç¤¦è‚¡ä»½æœ‰é™å…¬å¸é¸ç¢ç¤¦å ´,10002120,å®œè˜­ç¸£å—æ¾³é„‰ç€‘å¸ƒæ®µä¸€ä¸ƒåœ°è™Ÿ,G4103321
3,41609107,å…‰å—å†·å‡å» è‚¡ä»½æœ‰é™å…¬å¸,10002030,å®œè˜­ç¸£è˜‡æ¾³é®è¯å±±è·¯ä¸€å››ä¹è™Ÿ,G32097000171
4,41615109,åŒæ¦®å¯¦æ¥­è‚¡ä»½æœ‰é™å…¬å¸,10002080,å®œè˜­ç¸£å†¬å±±é„‰é¦™å’Œæ‘é¦™ä¸­è·¯ä¸€è™Ÿ,G3700906
...,...,...,...,...,...
49995,96917698,å®¥èª ç§‘æŠ€è‚¡ä»½æœ‰é™å…¬å¸,10004010,æ–°ç«¹ç¸£ç«¹åŒ—å¸‚åèˆˆé‡ŒçŠé ­å±±ä¸‹å››ä¸ƒè™Ÿ,J5505521
49996,96917894,æ­£è¾¦å¯¦æ¥­æœ‰é™å…¬å¸,66000250,è‡ºä¸­å¸‚é¾äº•å€å±±è…³é‡Œä¸­å±±ä¸­è·¯äºŒæ®µäº”å››ä¸€å··å…­è™Ÿ,L0200820
49997,96918036,æ–°ç¦æ˜Ÿç‡Ÿé€ æœ‰é™å…¬å¸,65000100,æ–°åŒ—å¸‚æ·¡æ°´å€æ°‘æ¬Šè·¯å››äºŒè™Ÿäº”æ¨“,F10097008738
49998,96918351,åˆ©æ”¿ç‡Ÿé€ æœ‰é™å…¬å¸,10008030,å—æŠ•ç¸£è‰å±¯é®å¯Œæ—è·¯ä¸€æ®µä¸€å…­ä¹è™ŸäºŒæ¨“,M35097003679
49999,96919128,æˆŠè‰®ç‡Ÿé€ è‚¡ä»½æœ‰é™å…¬å¸,10009010,é›²æ—ç¸£æ–—å…­å¸‚æ¦´å—é‡Œå—ä»è·¯ä¹â—‹ä¹‹ä¸€äº”è™Ÿä¸€æ¨“,P46097004479

In [156]:
mssql_batch_df = pd.read_sql(
                f"SELECT * FROM factory ORDER BY fac_uniformno,fac_area_code,fac_address,ems_no OFFSET 100000 ROWS FETCH NEXT 50000 ROWS ONLY;",
                mssql_conn
            )
maria_batch_df = pd.read_sql(
                f"SELECT * FROM factory ORDER BY fac_uniformno,fac_area_code,fac_address,ems_no LIMIT 50000 OFFSET 100000;",
                mariadb_engine
            )

C:\Users\User\AppData\Local\Temp\ipykernel_4156\3490729616.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mssql_batch_df = pd.read_sql(

In [212]:
mssql_batch_df.iloc[0:2]

,fac_uniformno,fac_name,fac_area_code,fac_address,ems_no
0,96919128,æˆŠè‰®ç‡Ÿé€ è‚¡ä»½æœ‰é™å…¬å¸,10009010,é›²æ—ç¸£æ–—å…­å¸‚æ¦´å—é‡Œå—ä»è·¯ä¹â—‹ä¹‹ä¸€äº”è™Ÿä¸€æ¨“,P46097004479
1,96919302,å°šè°·ç‡Ÿé€ æœ‰é™å…¬å¸,65000050,æ–°åŒ—å¸‚æ–°èŠå€æ–°åŒ—å¤§é“ä¸ƒæ®µå››ä¹å…«å··ä¸€å…«è™Ÿä¸€ä¸‰æ¨“,F06097018114

In [213]:
maria_batch_df.iloc[0:2]

,fac_uniformno,fac_name,fac_area_code,fac_address,ems_no
0,96919128,æˆŠè‰®ç‡Ÿé€ è‚¡ä»½æœ‰é™å…¬å¸å¤©ä¸Šäººé–“ç²¾å“æ—…é¤¨æ–°å»ºå·¥ç¨‹,10009010,é›²æ—ç¸£æ–—å…­å¸‚æµ·è±å´™æ®µæœ±ä¸¹ç£å°æ®µå…­äºŒä¹‹ä¸€ä¸‰å…«åœ°è™Ÿ,P46A5376
1,96919302,å°šè°·ç‡Ÿé€ æœ‰é™å…¬å¸,65000050,æ–°åŒ—å¸‚æ–°èŠå€æ–°åŒ—å¤§é“ä¸ƒæ®µå››ä¹å…«å··ä¸€å…«è™Ÿä¸€ä¸‰æ¨“,F06097018114