In [3]:
import pandas as pd
import pyodbc
import numpy as np
from collections import Counter
import re
from datetime import datetime
import sys
import time

In [4]:
EMS = pd.read_csv("EMS_2.csv")
POn = pd.read_csv("POn_2.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_17760\4073670798.py:1: DtypeWarning: Columns (0,2,8,14,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  EMS = pd.read_csv("EMS_2.csv")

In [9]:
EMS[EMS['fac_name'] == '***é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸'].iloc[0][['fac_uniformno','fac_name','document_no','penalty_date','transgress_date']]

fac_uniformno           ***04673318
fac_name            ***é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸
document_no        ***41-099-040165
penalty_date             2010-04-16
transgress_date          2010-01-31
Name: 726672, dtype: object

In [10]:
EMS[EMS['fac_name'] == '*é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸'].iloc[0][['fac_uniformno','fac_name','document_no','penalty_date','transgress_date']]

fac_uniformno           *04673318
fac_name            *é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸
document_no        *41-099-040165
penalty_date           2010-04-16
transgress_date        2010-01-31
Name: 414, dtype: object

In [3]:
# ä½¿ç”¨æ­£è¦è¡¨é”å¼ï¼Œä¿ç•™ä¸­è‹±æ–‡èˆ‡æ•¸å­—ï¼Œå…¶é¤˜å…¨éƒ¨ç§»é™¤
EMS['fac_name_cleaned'] = EMS['fac_name'].str.replace(r'[^A-Za-z0-9\u4e00-\u9fff]', '', regex=True)
EMS['fac_uniformno_cleaned'] = EMS['fac_uniformno'].str.replace(r'[^A-Za-z0-9\u4e00-\u9fff]', '', regex=True)
unique_fac = EMS[['fac_uniformno_cleaned', 'fac_name_cleaned', 'fac_address','fac_area_code','fac_city_code','ems_no']].drop_duplicates(subset=['fac_uniformno_cleaned', 'fac_name_cleaned'])
unique_fac

,fac_uniformno_cleaned,fac_name_cleaned,fac_address,fac_area_code,fac_city_code,ems_no
0,87816017,å®ç›Šå†·å‡å·¥ç¨‹è¡Œ,å—æŠ•ç¸£è‰å±¯é®æ˜æ­£é‡Œæ–‡åŒ–è¡—ä¸€ä¸€ä¹è™Ÿä¸€æ¨“,10008030,10008,M35097001906
1,98703150,ç«‹ç¥¥è¡Œ,è‡ºä¸­å¸‚ç¥å²¡å€å²¸è£¡ä¸€è¡—ä¸€äº”è™Ÿ,66000160,66000,L93097002126
2,66596516,ç«‹å‹ç‡Ÿé€ è‚¡ä»½æœ‰é™å…¬å¸,å˜‰ç¾©å¸‚æ½­å¤§æ‘å¤§å®¢äºŒå…«è™Ÿ,10020000,10020,I2609028
3,48961049,å‰é‰…å·¥ç¨‹è¡Œ,è‡ºåŒ—å¸‚å¤§å®‰å€å…‰å¾©å—è·¯å››ä¸€äºŒè™Ÿä¸ƒæ¨“,63000030,63000,A35097021473
4,34291604,æºéŒ©æ©Ÿæ¢°æœ‰é™å…¬å¸,æ–°åŒ—å¸‚æ¿æ©‹å€éŠ˜å‚³è¡—ä¹å…«è™Ÿ,65000010,65000,F01097019232
...,...,...,...,...,...,...
363120,12940318,å®¶è±æ¬å®¶è²¨é‹æœ‰é™å…¬å¸,é«˜é›„å¸‚å°æ¸¯å€é«˜åªäº”è·¯ä¸€å››äºŒå··å…­å¼„å…­è™Ÿä¸€æ¨“,64000110,64000,E56097015150
363121,53715146,æ–°é›»æ–°æœ‰é™å…¬å¸,æ–°åŒ—å¸‚æ¿æ©‹å€æ–‡åŒ–è·¯äºŒæ®µä¸€äºŒå››å··ä¸‰å››å¼„äºŒå…­ä¹‹ä¸‰è™Ÿ,65000010,65000,F01097058266
363123,98979369,åˆé‹’ä¼æ¥­ç¤¾,æ¡ƒåœ’å¸‚æ¡ƒåœ’å€è¥¿åŸ”é‡Œå¯Œåœ‹è·¯ä¹å…­äºŒå··ä¸€äºŒè™Ÿä¸€æ¨“,68000010,68000,H42D5598
363125,86347874,æ¬£äº¨å·¥ç¨‹æœ‰é™å…¬å¸,æ–°åŒ—å¸‚æ—å£å€ä¸‹ç¦ä¹ä¹ä¹‹ä¸€è™Ÿ,65000170,65000,F17097009134
363128,93328873,æ‹“é‹å·¥ç¨‹è¡Œé™³å¿—å®‰è¬èˆˆæ®µ2164åœ°è™Ÿæ‹†é™¤å·¥ç¨‹,å±æ±ç¸£è¬ä¸¹é„‰è¬èˆˆæ®µäºŒä¸€å…­å››åœ°è™Ÿ,10013050,10013,T46A5536

In [4]:
# æ–°å¢ Enterprise è³‡æ–™è¡¨
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)
cursor = conn.cursor()

insert_sql = """
INSERT INTO Factory (fac_uniformno, fac_name, fac_area_code, fac_address, ems_no)
VALUES (?, ?, ?, ?, ?)
"""
for index, row in unique_fac.iterrows():
    try:
        cursor.execute(insert_sql, (
            row['fac_uniformno_cleaned'],
            row['fac_name_cleaned'],
            row['fac_area_code'],
            row['fac_address'],
            row['ems_no']
        ))
    except Exception as e:
        print(f"âš ï¸ Enterprise ç¬¬ {index} ç­†æ’å…¥å¤±æ•—ï¼š{e}ï¼Œè³‡æ–™ï¼š{row.to_dict()}")

conn.commit()
# é—œé–‰é€£ç·š
cursor.close()
conn.close()

In [4]:
str_cols = ['fac_uniformno_cleaned']
for col in str_cols:
    EMS[col] = EMS[col].replace('', pd.NA)
# 1. å»ºç«‹å‰ç¶´ç¾¤çµ„
EMS['fac_no_group'] = EMS['fac_uniformno']
EMS['fac_name_group'] = EMS['fac_name']

# 2. æ¸…ç† fac_uniformno æˆç‚º facno_suffixï¼ˆå»é™¤ç‰¹æ®Šå­—å…ƒï¼‰
EMS['facno_suffix'] = EMS['fac_uniformno_cleaned']
EMS['facname_suffix'] = EMS['fac_name_cleaned']

# 3. çµ±è¨ˆæ¯å€‹ facno_suffix ä¸‹ï¼Œå„ prefix_group çš„ç­†æ•¸
group_counts = EMS.groupby(['facno_suffix','facname_suffix','fac_no_group','fac_name_group']).size().reset_index(name='count')

# 4. å°æ¯å€‹å¾Œç¶´ï¼ˆå¾Œç¶´çµ±ç·¨ + åç¨±ï¼‰ï¼Œæ‰¾å‡ºç­†æ•¸æœ€å°‘çš„ prefix_groupï¼ˆå”¯ä¸€ï¼‰
max_groups = group_counts.loc[
    group_counts.groupby(['facno_suffix','facname_suffix'])['count'].idxmin()
]

# 5. ç”¨é€™äº›æœ€å°‘ç­†æ•¸çš„ prefix_group å›åŸå§‹ EMS æŠ“å‡ºè³‡æ–™
valid_pairs = set(zip(max_groups['fac_no_group'], max_groups['fac_name_group']))

# 6. éæ¿¾ EMSï¼Œåªä¿ç•™é€™äº› prefix_group ä¸­çš„è³‡æ–™
filtered_df = EMS[
    EMS.apply(lambda row: (row['fac_uniformno'], row['fac_name']) in valid_pairs, axis=1)
].drop(columns=['facno_suffix','facname_suffix', 'fac_no_group','fac_name_group'])

In [5]:
filtered_df['document_no_cleaned'] = filtered_df['document_no'].str.replace(r'[^A-Za-z0-9\u4e00-\u9fff]', '', regex=True)
filtered_df['subject_str'] = filtered_df['subject']
# å°‡ DATE æ¬„ä½è½‰ç‚º datetime.date æ ¼å¼
date_columns = [
    'allow_rework_date', 'lawsuit_date_1', 'improve_deadline',
    'inspection_datetime_s', 'transgress_date', 'penalty_date'
]

for col in date_columns:
    filtered_df[col] = pd.to_datetime(filtered_df[col], errors='coerce').dt.date

# å»ºç«‹ Transgress_Info è³‡æ–™è¡¨
columns_to_insert = [
    'transgress_control_id','fac_uniformno_cleaned','fac_name_cleaned','transgress_address','openinfor','transgress_city_code','transgress_date',
    'transgress_law','transgress_type','transgress_name','illegal_money'
]

# é¸æ“‡ä¸¦è¤‡è£½è³‡æ–™
transgress_info = filtered_df[columns_to_insert].copy()
transgress_info = transgress_info.where(pd.notnull(transgress_info), None)
# 2. é‡å° fac_uniformno èˆ‡ fac_nameï¼Œè‹¥ç‚º Nan æ”¹ç‚ºç©ºå­—ä¸²
for col in ['fac_uniformno_cleaned', 'fac_name_cleaned']:
    transgress_info[col] = transgress_info[col].apply(lambda x: '' if x is None else x)

In [49]:
# æ’å…¥ Transgress_Info
columns_sql = [
    'transgress_control_id','fac_uniformno','fac_name','transgress_address','openinfor','transgress_city_code','transgress_date',
    'transgress_law','transgress_type','transgress_name','illegal_money'
]

# ä¿®æ”¹ df_insert æ¬„ä½åï¼ˆèˆ‡ SQL æ¬„ä½åä¸€è‡´ï¼‰
transgress_info.columns = columns_sql

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)
cursor = conn.cursor()

# --- Step 3: æ˜ç¢ºæ‰‹å‹•è¼¸å…¥ INSERT èªå¥ï¼ˆä¸ä½¿ç”¨ .joinï¼‰ ---
insert_sql = """
INSERT INTO Transgress_Info (
    caseId, transgress_control_id, fac_uniformno, fac_name, transgress_address, openinfor, transgress_city_code, 
    transgress_date,transgress_law, transgress_type, transgress_name, illegal_money

)
VALUES (
    ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,
    ?, ?
)
"""
total = len(transgress_info)
for count, (idx, row) in enumerate(transgress_info.iterrows(), start=1):  # start=1 è®“å¾ç¬¬1ç­†é–‹å§‹
    try:
        percent = int(count / total * 100)
        bar_len = 30  # é€²åº¦æ¢é•·åº¦
        filled_len = int(bar_len * count / total)
        bar = 'â–ˆ' * filled_len + '-' * (bar_len - filled_len)

        # é¡¯ç¤ºé€²åº¦æ¢ï¼ˆè¦†è“‹ä¸Šä¸€è¡Œï¼‰
        sys.stdout.write(
            f"\rğŸŸ¢ æ­£åœ¨è™•ç†ç¬¬ {count}/{total} ç­† |{bar}| {percent}%"
        )
        sys.stdout.flush()

        values = (idx,) + tuple(row)  # åœ¨æœ€å‰é¢åŠ ä¸Š idx ä½œç‚º caseId
        cursor.execute(insert_sql, values)

    except Exception as e:
        # æ›è¡Œé¡¯ç¤ºéŒ¯èª¤è¨Šæ¯
        print(f"\nâŒ Error at row {idx}: {e}")
        print("ğŸ” Column values:")
        for col_name, value in zip(transgress_info.columns, row):
            print(f"    {col_name}: {repr(value)}")
        break
        
# å®Œæˆå¾Œæ¸…é™¤é¡¯ç¤ºåˆ—
time.sleep(1)
sys.stdout.write("\râœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼" + " " * 20 + "\n")

# --- Step 7: æäº¤èˆ‡é—œé–‰ ---
conn.commit()
conn.close()

âœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼                    â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

In [8]:
EMS['document_no_cleaned'] = EMS['document_no'].str.replace(r'[^A-Za-z0-9\u4e00-\u9fff]', '', regex=True)
# å»ºç«‹ Penalty_Info è³‡æ–™è¡¨
columns_to_insert = [
    'document_no_cleaned', 'gist_define', 'improve_deadline', 'track_illegal_money', 'subject_str', 'penaltykind',
    'penalty_money', 'penalty_date', 'isimportant', 'isreducemoney', 'county_name', 'is_improve', 'allow_rework_date'
]

# é¸æ“‡ä¸¦è¤‡è£½è³‡æ–™
penalty_info = filtered_df[columns_to_insert].copy()
penalty_info = penalty_info.where(pd.notnull(penalty_info), None)

In [ ]:
# æ’å…¥ Penalty_Info
columns_sql = [
    'document_no', 'gist_define', 'improve_deadline', 'track_illegal_money', 'subject_str', 'penaltykind',
    'penalty_money', 'penalty_date', 'isimportant', 'isreducemoney', 'county_name', 'is_improve', 'allow_rework_date'
]

# ä¿®æ”¹ df_insert æ¬„ä½åï¼ˆèˆ‡ SQL æ¬„ä½åä¸€è‡´ï¼‰
penalty_info.columns = columns_sql

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)
cursor = conn.cursor()

# --- Step 3: æ˜ç¢ºæ‰‹å‹•è¼¸å…¥ INSERT èªå¥ï¼ˆä¸ä½¿ç”¨ .joinï¼‰ ---
insert_sql = """
INSERT INTO Penalty_Info (
    caseId, document_no, gist_define, improve_deadline, track_illegal_money, subject_str, penaltykind,
    penalty_money, penalty_date, isimportant, isreducemoney, county_name, is_improve, allow_rework_date
)
VALUES (
    ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,
    ?, ?, ?, ?
)
"""

total = len(penalty_info)
for count, (idx, row) in enumerate(penalty_info.iterrows(), start=1):  # start=1 è®“å¾ç¬¬1ç­†é–‹å§‹
    try:
        percent = int(count / total * 100)
        bar_len = 30  # é€²åº¦æ¢é•·åº¦
        filled_len = int(bar_len * count / total)
        bar = 'â–ˆ' * filled_len + '-' * (bar_len - filled_len)

        # é¡¯ç¤ºé€²åº¦æ¢ï¼ˆè¦†è“‹ä¸Šä¸€è¡Œï¼‰
        sys.stdout.write(
            f"\rğŸŸ¢ æ­£åœ¨è™•ç†ç¬¬ {count}/{total} ç­† |{bar}| {percent}%"
        )
        sys.stdout.flush()

        values = (idx,) + tuple(row)  # åœ¨æœ€å‰é¢åŠ ä¸Š idx ä½œç‚º caseId
        cursor.execute(insert_sql, values)

    except Exception as e:
        # æ›è¡Œé¡¯ç¤ºéŒ¯èª¤è¨Šæ¯
        print(f"\nâŒ Error at row {idx}: {e}")
        print("ğŸ” Column values:")
        for col_name, value in zip(penalty_info.columns, row):
            print(f"    {col_name}: {repr(value)}")
        break
        
# å®Œæˆå¾Œæ¸…é™¤é¡¯ç¤ºåˆ—
time.sleep(1)
sys.stdout.write("\râœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼" + " " * 20 + "\n")

# --- Step 7: æäº¤èˆ‡é—œé–‰ ---
conn.commit()
conn.close()

âœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼                    â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

In [26]:
inspection_data = filtered_df[filtered_df['inspection_datetime_s'].notna()]
# å»ºç«‹ inspection è³‡æ–™è¡¨
columns_to_insert = [
    'document_no_cleaned',
    'inspection_datetime_s',
    'inspection_condition',
]

# é¸æ“‡ä¸¦è¤‡è£½è³‡æ–™
inspection_data = inspection_data[columns_to_insert].copy()
inspection_data = inspection_data.where(pd.notnull(inspection_data), None)

In [ ]:
# æ’å…¥ Inspection
columns_sql = [
    'document_no','inspection_datetime_s','inspection_condition'
]

# ä¿®æ”¹ df_insert æ¬„ä½åï¼ˆèˆ‡ SQL æ¬„ä½åä¸€è‡´ï¼‰
inspection_data.columns = columns_sql

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)
cursor = conn.cursor()

# --- Step 3: æ˜ç¢ºæ‰‹å‹•è¼¸å…¥ INSERT èªå¥ï¼ˆä¸ä½¿ç”¨ .joinï¼‰ ---
insert_sql = """
INSERT INTO Inspection (
    caseId, document_no, inspection_datetime_s, inspection_condition
)
VALUES (
    ?, ?, ?, ?
)
"""
total = len(inspection_data)
for count, (idx, row) in enumerate(inspection_data .iterrows(), start=1):  # start=1 è®“å¾ç¬¬ 1 ç­†é–‹å§‹
    try:
        percent = int(count / total * 100)
        bar_len = 30  # é€²åº¦æ¢é•·åº¦
        filled_len = int(bar_len * count / total)
        bar = 'â–ˆ' * filled_len + '-' * (bar_len - filled_len)

        # é¡¯ç¤ºé€²åº¦æ¢ï¼ˆè¦†è“‹ä¸Šä¸€è¡Œï¼‰
        sys.stdout.write(
            f"\rğŸŸ¢ æ­£åœ¨è™•ç†ç¬¬ {count}/{total} ç­† |{bar}| {percent}%"
        )
        sys.stdout.flush()

        values = (idx,) + tuple(row)  # åœ¨æœ€å‰é¢åŠ ä¸Š idx ä½œç‚º caseId
        cursor.execute(insert_sql, values)

    except Exception as e:
        # æ›è¡Œé¡¯ç¤ºéŒ¯èª¤è¨Šæ¯
        print(f"\nâŒ Error at row {idx}: {e}")
        print("ğŸ” Column values:")
        for col_name, value in zip(inspection_data.columns, row):
            print(f"    {col_name}: {repr(value)}")
        break
        
# å®Œæˆå¾Œæ¸…é™¤é¡¯ç¤ºåˆ—
time.sleep(1)
sys.stdout.write("\râœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼" + " " * 20 + "\n")

# --- Step 7: æäº¤èˆ‡é—œé–‰ ---
conn.commit()
conn.close()

âœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼                    â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

In [42]:
appeal_data = filtered_df[
    (filtered_df['ispetition'] == 1) |
    (filtered_df['appeal_or_rescind'].notna())
]

# å»ºç«‹ Appeal è³‡æ–™è¡¨
columns_to_insert = [
    'document_no_cleaned','fac_uniformno_cleaned','fac_name_cleaned','appeal_or_rescind',
    'ispetition','lawsuit_date_1','petition_agency','petition_results'
]

# é¸æ“‡ä¸¦è¤‡è£½è³‡æ–™
appeal_data = appeal_data[columns_to_insert].copy()
appeal_data = appeal_data.where(pd.notnull(appeal_data), None)

In [ ]:
# æ’å…¥ Appeal
columns_sql = [
    'document_no','fac_uniformno','fac_name','appeal_or_rescind',
    'ispetition','lawsuit_date_1','petition_agency','petition_results'
]

# ä¿®æ”¹ df_insert æ¬„ä½åï¼ˆèˆ‡ SQL æ¬„ä½åä¸€è‡´ï¼‰
appeal_data.columns = columns_sql

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)
cursor = conn.cursor()

# --- Step 3: æ˜ç¢ºæ‰‹å‹•è¼¸å…¥ INSERT èªå¥ï¼ˆä¸ä½¿ç”¨ .joinï¼‰ ---
insert_sql = """
INSERT INTO Appeal (
    caseId, document_no, fac_uniformno, fac_name, appeal_or_rescind,
    ispetition, lawsuit_date_1, petition_agency, petition_results
)
VALUES (
    ?, ?, ?, ?, ?, ?, ?, ?, ?
)
"""
total = len(appeal_data)
for count, (idx, row) in enumerate(appeal_data .iterrows(), start=1):  # start=1 è®“å¾ç¬¬1ç­†é–‹å§‹
    try:
        percent = int(count / total * 100)
        bar_len = 30  # é€²åº¦æ¢é•·åº¦
        filled_len = int(bar_len * count / total)
        bar = 'â–ˆ' * filled_len + '-' * (bar_len - filled_len)

        # é¡¯ç¤ºé€²åº¦æ¢ï¼ˆè¦†è“‹ä¸Šä¸€è¡Œï¼‰
        sys.stdout.write(
            f"\rğŸŸ¢ æ­£åœ¨è™•ç†ç¬¬ {count}/{total} ç­† |{bar}| {percent}%"
        )
        sys.stdout.flush()

        values = (idx,) + tuple(row)  # åœ¨æœ€å‰é¢åŠ ä¸Š idx ä½œç‚º caseId
        cursor.execute(insert_sql, values)

    except Exception as e:
        # æ›è¡Œé¡¯ç¤ºéŒ¯èª¤è¨Šæ¯
        print(f"\nâŒ Error at row {idx}: {e}")
        print("ğŸ” Column values:")
        for col_name, value in zip(appeal_data.columns, row):
            print(f"    {col_name}: {repr(value)}")
        break
        
# å®Œæˆå¾Œæ¸…é™¤é¡¯ç¤ºåˆ—
time.sleep(1)
sys.stdout.write("\râœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼" + " " * 20 + "\n")

# --- Step 7: æäº¤èˆ‡é—œé–‰ ---
conn.commit()
conn.close()

âœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼                    â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

In [51]:
# å»ºç«‹ Appeal è³‡æ–™è¡¨
columns_to_insert = [
    'document_no_cleaned','paymentstate','isreminder','isadmincourt'
]

# é¸æ“‡ä¸¦è¤‡è£½è³‡æ–™
paid_data = filtered_df[columns_to_insert].copy()
paid_data = paid_data.where(pd.notnull(paid_data), None)

In [ ]:
# æ’å…¥ Payment
columns_sql = [
    'document_no','paymentstate','isreminder','isadmincourt'
]

# ä¿®æ”¹ df_insert æ¬„ä½åï¼ˆèˆ‡ SQL æ¬„ä½åä¸€è‡´ï¼‰
paid_data.columns = columns_sql

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)
cursor = conn.cursor()

# --- Step 3: æ˜ç¢ºæ‰‹å‹•è¼¸å…¥ INSERT èªå¥ï¼ˆä¸ä½¿ç”¨ .joinï¼‰ ---
insert_sql = """
INSERT INTO Payment (
    caseId, document_no, paymentstate, isreminder, isadmincourt
)
VALUES (
    ?, ?, ?, ?, ?
)
"""
total = len(paid_data)
for count, (idx, row) in enumerate(paid_data.iterrows(), start=1):  # start=1 è®“å¾ç¬¬1ç­†é–‹å§‹
    try:
        percent = int(count / total * 100)
        bar_len = 30  # é€²åº¦æ¢é•·åº¦
        filled_len = int(bar_len * count / total)
        bar = 'â–ˆ' * filled_len + '-' * (bar_len - filled_len)

        # é¡¯ç¤ºé€²åº¦æ¢ï¼ˆè¦†è“‹ä¸Šä¸€è¡Œï¼‰
        sys.stdout.write(
            f"\rğŸŸ¢ æ­£åœ¨è™•ç†ç¬¬ {count}/{total} ç­† |{bar}| {percent}%"
        )
        sys.stdout.flush()

        values = (idx,) + tuple(row)  # åœ¨æœ€å‰é¢åŠ ä¸Š idx ä½œç‚º caseId
        cursor.execute(insert_sql, values)

    except Exception as e:
        # æ›è¡Œé¡¯ç¤ºéŒ¯èª¤è¨Šæ¯
        print(f"\nâŒ Error at row {idx}: {e}")
        print("ğŸ” Column values:")
        for col_name, value in zip(paid_data.columns, row):
            print(f"    {col_name}: {repr(value)}")
        break
        
# å®Œæˆå¾Œæ¸…é™¤é¡¯ç¤ºåˆ—
time.sleep(1)
sys.stdout.write("\râœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼" + " " * 20 + "\n")

# --- Step 7: æäº¤èˆ‡é—œé–‰ ---
conn.commit()
conn.close()

âœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼                    â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

In [55]:
POn['è™•åˆ†æ—¥æœŸ'] = pd.to_datetime(POn['è™•åˆ†æ—¥æœŸ'], format='%Y%m%d', errors='coerce').dt.date
POn['å…¬å‘Šæ—¥æœŸ'] = pd.to_datetime(POn['å…¬å‘Šæ—¥æœŸ'], format='%Y%m%d', errors='coerce').dt.date

In [59]:
counts = POn.groupby('é•æ³•æ³•è¦æ³•æ¢')['é•åæ³•è¦å…§å®¹'].nunique()
unique_laws = counts[counts == 1].index
law_lookup = (
    POn[POn['é•æ³•æ³•è¦æ³•æ¢'].isin(unique_laws)][['é•æ³•æ³•è¦æ³•æ¢', 'é•åæ³•è¦å…§å®¹']]
    .drop_duplicates()
    .reset_index(drop=True)
)
law_lookup

,é•æ³•æ³•è¦æ³•æ¢,é•åæ³•è¦å…§å®¹
0,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬2é …,é›‡ä¸»æœªä¾è¦å®šæ–¼çµ‚æ­¢å‹å‹•å¥‘ç´„å¾Œ30æ—¥å…§ç™¼çµ¦æ–°åˆ¶è³‡é£è²»ã€‚
1,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹\nç¬¬12æ¢ç¬¬2é …,é›‡ä¸»æœªä¾è¦å®šæ–¼çµ‚æ­¢å‹å‹•å¥‘ç´„å¾Œ30æ—¥å…§ç™¼çµ¦æ–°åˆ¶è³‡é£è²»ã€‚
2,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬18æ¢,é›‡ä¸»æœªä¾è¦å®šæ–¼åˆ°è·7æ—¥å…§ç”³å ±æç¹³å‹å·¥é€€ä¼‘é‡‘ã€‚
3,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬9æ¢,é›‡ä¸»æœªä¾è¦å®šæ–¼æ–°æˆç«‹æˆ–æ”¹é¸æ–°åˆ¶15æ—¥å…§ç”³å ±æç¹³å‹å·¥é€€ä¼‘é‡‘ã€‚
4,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬21æ¢ç¬¬1é …,é›‡ä¸»æœªä¾è¦å®šæ¯æœˆä»¥æ›¸é¢é€šçŸ¥å‹å·¥æç¹³é‡‘é¡ã€‚
5,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬15æ¢ç¬¬2é …,é›‡ä¸»æœªä¾è¦å®šè¦ˆå¯¦ç”³å ±èª¿æ•´å‹å·¥é€€ä¼‘é‡‘æç¹³å·¥è³‡ã€‚
6,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬1é …,é›‡ä¸»æœªä¾è¦å®šæ¨™æº–ç™¼çµ¦å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹å·¥ä½œå¹´è³‡ä¹‹è³‡é£è²»ã€‚
7,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬19æ¢ç¬¬1é …,é›‡ä¸»æœªæŒ‰æ™‚ç¹³ç´å‹å·¥é€€ä¼‘é‡‘è‡´åŠ å¾µæ»¯ç´é‡‘ã€‚
8,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬13æ¢ç¬¬1é …,é›‡ä¸»æœªç¹¼çºŒæŒ‰æœˆææ’¥å‹å·¥é€€ä¼‘æº–å‚™é‡‘ã€‚
9,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬1é …;å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬2é …,é›‡ä¸»æœªä¾è¦å®šæ¨™æº–ç™¼çµ¦å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹å·¥ä½œå¹´è³‡ä¹‹è³‡é£è²»ã€‚;é›‡ä¸»æœªä¾è¦å®šæ–¼çµ‚æ­¢å‹å‹•å¥‘ç´„å¾Œ30æ—¥å…§ç™¼...
10,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬11æ¢ç¬¬2é …;\nå‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬2é …,é›‡ä¸»æœªä¾è¦å®šï¼Œä»¥å¥‘ç´„çµ‚æ­¢æ™‚ä¹‹å¹³å‡å·¥è³‡ï¼Œè¨ˆçµ¦è©²ä¿ç•™å¹´è³‡ä¹‹è³‡é£è²»æˆ–é€€ä¼‘é‡‘ï¼Œä¸¦æ–¼çµ‚æ­¢å‹å‹•å¥‘ç´„å¾Œ30...
11,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬11æ¢ç¬¬2é …,é›‡ä¸»æœªä¾è¦å®šï¼Œä»¥å¥‘ç´„çµ‚æ­¢æ™‚ä¹‹å¹³å‡å·¥è³‡ï¼Œè¨ˆçµ¦è©²ä¿ç•™å¹´è³‡ä¹‹è³‡é£è²»æˆ–é€€ä¼‘é‡‘ï¼Œä¸¦æ–¼çµ‚æ­¢å‹å‹•å¥‘ç´„å¾Œ30...
12,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬11æ¢ç¬¬2é …;å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬1é …;å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬2é …,é›‡ä¸»æœªä¾è¦å®šï¼Œä»¥å¥‘ç´„çµ‚æ­¢æ™‚ä¹‹å¹³å‡å·¥è³‡ï¼Œè¨ˆçµ¦è©²ä¿ç•™å¹´è³‡ä¹‹è³‡é£è²»æˆ–é€€ä¼‘é‡‘ï¼Œä¸¦æ–¼çµ‚æ­¢å‹å‹•å¥‘ç´„å¾Œ30...
13,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬40æ¢,é›‡ä¸»æ‹’çµ•æä¾›è³‡æ–™æˆ–å°æå‡ºç”³è¨´å‹å·¥ç‚ºä¸åˆ©è™•åˆ†ã€‚
14,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹\nç¬¬12æ¢ç¬¬1é …,é›‡ä¸»æœªä¾è¦å®šæ¨™æº–ç™¼çµ¦å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹å·¥ä½œå¹´è³‡ä¹‹è³‡é£è²»ã€‚
15,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬1é …;\nå‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹ç¬¬12æ¢ç¬¬2é …,é›‡ä¸»æœªä¾è¦å®šæ¨™æº–ç™¼çµ¦å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹å·¥ä½œå¹´è³‡ä¹‹è³‡é£è²»ã€‚;é›‡ä¸»æœªä¾è¦å®šæ–¼çµ‚æ­¢å‹å‹•å¥‘ç´„å¾Œ30æ—¥å…§ç™¼...
16,å‹å·¥é€€ä¼‘é‡‘æ¢ä¾‹\nç¬¬13æ¢ç¬¬1é …,é›‡ä¸»æœªç¹¼çºŒæŒ‰æœˆææ’¥å‹å·¥é€€ä¼‘æº–å‚™é‡‘ã€‚

In [60]:
import pyodbc

# è³‡æ–™åº«é€£ç·š
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'  # âœ… æ”¹æˆä½ å¯¦éš›çš„è³‡æ–™åº«
    'UID=sa;'
    'PWD=6124Nok45'
)
cursor = conn.cursor()

# å»ºç«‹ INSERT èªå¥
insert_sql = """
INSERT INTO Labor_Law (transgress_law, law_content)
VALUES (?, ?)
"""

# é€ç­†æ’å…¥
for idx, row in law_lookup.iterrows():
    try:
        cursor.execute(insert_sql, (row['é•æ³•æ³•è¦æ³•æ¢'], row['é•åæ³•è¦å…§å®¹']))
    except Exception as e:
        print(f"âŒ Error at row {idx}: {e}")
        print(row)
        break

conn.commit()
conn.close()
print("âœ… law_lookup å¯«å…¥ Labor_Law æˆåŠŸï¼")

âœ… law_lookup å¯«å…¥ Labor_Law æˆåŠŸï¼

In [64]:
import pandas as pd
import re

# 1. æ¸…ç† fac_uniformno æˆç‚º facno_suffixï¼ˆå»é™¤ç‰¹æ®Šå­—å…ƒï¼‰
POn['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_suffix'] = POn['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº'].str.replace(r'[^A-Za-z0-9\u4e00-\u9fff]', '', regex=True)

# 2. å»ºç«‹å‰ç¶´ç¾¤çµ„
POn['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_group'] = POn['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº']

# 3. çµ±è¨ˆæ¯å€‹ facno_suffix ä¸‹ï¼Œå„ prefix_group çš„ç­†æ•¸
group_counts = POn.groupby(['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_suffix', 'äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_group']).size().reset_index(name='count')

# 4. å°æ¯å€‹å¾Œç¶´ï¼Œæ‰¾å‡ºç­†æ•¸æœ€å¤šçš„ prefix_groupï¼ˆå”¯ä¸€ï¼‰
max_groups = group_counts.loc[group_counts.groupby('äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_suffix')['count'].idxmin()]

# 5. ç”¨é€™äº›æœ€å¤šç­†æ•¸çš„ prefix_group å›åŸå§‹ EMS æŠ“å‡ºè³‡æ–™
# â†’ å»ºç«‹ä¸€å€‹å…è¨±çš„ fac_uniformno åˆ—è¡¨
valid_prefixes = max_groups['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_group'].unique()

# 6. éæ¿¾ EMSï¼Œåªä¿ç•™é€™äº› prefix_group ä¸­çš„è³‡æ–™
filtered_df = POn[POn['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº'].isin(valid_prefixes)].drop(columns=['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_suffix', 'äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_group'])
filtered_df['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_cleaned'] = filtered_df['äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº'].str.replace(r'[^A-Za-z0-9\u4e00-\u9fff]', '', regex=True)
filtered_df['è™•åˆ†å­—è™Ÿ_cleaned'] = filtered_df['è™•åˆ†å­—è™Ÿ'].str.replace(r'[^A-Za-z0-9\u4e00-\u9fff]', '', regex=True)

In [65]:
columns_to_insert = [
    'ä¸»ç®¡æ©Ÿé—œ','å…¬å‘Šæ—¥æœŸ','è™•åˆ†æ—¥æœŸ','è™•åˆ†å­—è™Ÿ_cleaned','äº‹æ¥­å–®ä½åç¨±æˆ–è² è²¬äºº_cleaned',
    'é•æ³•æ³•è¦æ³•æ¢','è™•åˆ†é‡‘é¡æˆ–æ»¯ç´é‡‘','å‚™è¨»èªªæ˜'
]
df_insert = filtered_df[columns_to_insert].copy()
df_insert = df_insert.where(pd.notnull(df_insert), None)

In [73]:
# æ’å…¥ Payment
columns_sql = [
    'agency',
    'announce_date',
    'penalty_date',
    'document_no',
    'fac_name',
    'transgress_law',
    'penalty_money',
    'info'
]

# ä¿®æ”¹ df_insert æ¬„ä½åï¼ˆèˆ‡ SQL æ¬„ä½åä¸€è‡´ï¼‰
df_insert.columns = columns_sql

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)
cursor = conn.cursor()

# --- Step 3: æ˜ç¢ºæ‰‹å‹•è¼¸å…¥ INSERT èªå¥ï¼ˆä¸ä½¿ç”¨ .joinï¼‰ ---
insert_sql = """
INSERT INTO Labor_Transgress (
    pId,
    agency,
    announce_date,
    penalty_date,
    document_no,
    fac_name,
    transgress_law,
    penalty_money,
    info
)
VALUES (
    ?, ?, ?, ?, ?, ?, ?, ?, ?
)
"""

total = len(df_insert)
for count, (idx, row) in enumerate(df_insert.iterrows(), start=1):  # start=1 è®“å¾ç¬¬1ç­†é–‹å§‹
    try:
        percent = int(count / total * 100)
        bar_len = 30  # é€²åº¦æ¢é•·åº¦
        filled_len = int(bar_len * count / total)
        bar = 'â–ˆ' * filled_len + '-' * (bar_len - filled_len)

        # é¡¯ç¤ºé€²åº¦æ¢ï¼ˆè¦†è“‹ä¸Šä¸€è¡Œï¼‰
        sys.stdout.write(
            f"\rğŸŸ¢ æ­£åœ¨è™•ç†ç¬¬ {count}/{total} ç­† |{bar}| {percent}%"
        )
        sys.stdout.flush()

        values = (idx,) + tuple(row)  # åœ¨æœ€å‰é¢åŠ ä¸Š idx ä½œç‚º caseId
        cursor.execute(insert_sql, values)

    except Exception as e:
        # æ›è¡Œé¡¯ç¤ºéŒ¯èª¤è¨Šæ¯
        print(f"\nâŒ Error at row {idx}: {e}")
        print("ğŸ” Column values:")
        for col_name, value in zip(df_insert.columns, row):
            print(f"    {col_name}: {repr(value)}")
        break

# å®Œæˆå¾Œæ¸…é™¤é¡¯ç¤ºåˆ—
time.sleep(1)
sys.stdout.write("\râœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼" + " " * 20 + "\n")

conn.commit()
conn.close()
print("âœ… è³‡æ–™å·²æˆåŠŸå¯«å…¥ POnã€‚")

âœ… æ‰€æœ‰è³‡æ–™è™•ç†å®Œç•¢ï¼                    â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
âœ… è³‡æ–™å·²æˆåŠŸå¯«å…¥ POnã€‚

### Q1. EMS

In [2]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT *
FROM Transgress_Info
WHERE fac_name = 'é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸'
"""
df = pd.read_sql(query, conn)
print(len(df))
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

127
æŸ¥è©¢è€—æ™‚ï¼š0.8909 ç§’

C:\Users\User\AppData\Local\Temp\ipykernel_17760\1804709677.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT *
FROM Transgress_Info T,Penalty_Info P
WHERE T.caseId = P.caseId AND T.fac_name = 'é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸' AND P.penalty_date LIKE '2018%'

"""
df = pd.read_sql(query, conn)
print(df)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

    caseId transgress_control_id fac_uniformno      fac_name  \
0  1156808                  None      04673318  é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸
1  1158001          A45097002423      04673318  é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸
2  1160234                  None      04673318  é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸
3  1171477          A45097002423      04673318  é é›„å»ºè¨­äº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸

             transgress_address  \
0    æ–°åŒ—å¸‚æ–°èŠå€å‰¯éƒ½å¿ƒæ®µä¸€å°æ®µ(0007-0000)åœ°è™Ÿ
1    å˜‰ç¾©ç¸£å¤ªä¿å¸‚å¤ªé ‚ç æ®µ24-4ã€24-8ã€24-9åœ°è™Ÿ
2       æ–°åŒ—å¸‚æ–°èŠå€éƒ½å¿ƒæ®µä¸€å°æ®µ0072-0000åœ°è™Ÿ
3  é«˜é›„å¸‚æ¥ æ¢“å€å¾·å¯Œè¡—122è™Ÿæ—ç©ºåœ°ï¼ˆç¿ å±ä¸€å°æ®µ1-1åœ°è™Ÿï¼‰

                                           openinfor transgress_city_code  \
0      è²´å…¬å¸ç‚ºåœŸåœ°æ‰€æœ‰æ¬Šäººï¼Œæœªå–„ç›¡ç®¡ç†è²¬ä»»ï¼Œè‡´ç©ºåœ°é›œè‰å¢ç”Ÿè‰é•·é€¾50å…¬åˆ†ï¼Œå±¬å…¬å‘Šä¹‹æ±¡æŸ“ç’°å¢ƒè¡Œç‚ºã€‚                65000
1  è²´å…¬å¸ä½æ–¼æœ¬ç¸£å¤ªä¿å¸‚å¤ªé ‚ç æ®µ24-4ã€24-8ã€24-9åœ°è™Ÿä¹‹é é›„åœ‹å¯¶æ–°å»ºå·¥ç¨‹ï¼Œç¶“æŸ¥è©²å·¥ç¨‹æœª...                10010
2           è²´å…¬å¸ç‚ºåœŸåœ°æ‰€æœ‰æ¬Šäººï¼ŒæƒŸæœªå–„ç›¡ç®¡ç†è²¬ä»»ï¼Œè‡´è‰é•·é€¾50å…¬åˆ†ï¼Œå±¬å…¬å‘Šä¹‹æ±¡æŸ“ç’°å¢ƒè¡Œç‚ºã€‚                65000
3                                æ‰€æœ‰åœŸåœ°ä¸Šå»¢æ£„ç‰©æœªæ¸…é™¤ï¼Œå½±éŸ¿å…¬å…±è¡›ç”Ÿã€‚                64000

  transgress_date                   transgress_law transgress_type  ...  \
0      2018-02-22                   å»¢æ£„ç‰©æ¸…ç†æ³•ç¬¬27æ¢ç¬¬11æ¬¾           ä¸€èˆ¬å»¢æ£„ç‰©  ...
1      2014-12-10  æ°´æ±¡æŸ“é˜²æ²»æ³•ç¬¬18æ¢ï¼Œæ°´æ±¡æŸ“é˜²æ²»æªæ–½åŠæª¢æ¸¬ç”³å ±ç®¡ç†è¾¦æ³•ç¬¬10æ¢             æ°´æ±¡æŸ“  ...
2      2018-03-06                   å»¢æ£„ç‰©æ¸…ç†æ³•ç¬¬27æ¢ç¬¬11æ¬¾           ä¸€èˆ¬å»¢æ£„ç‰©  ...
3      2018-08-14                    å»¢æ£„ç‰©æ¸…ç†æ³•ç¬¬11æ¢ç¬¬1æ¬¾           ä¸€èˆ¬å»¢æ£„ç‰©  ...

  track_illegal_money              subject_str  penaltykind penalty_money  \
0                   0             ç½°é°æ–°è‡ºå¹£2400å…ƒæ•´ã€‚    ç½°é°(éé€£çºŒè™•ç½°)          2400
1                   0  ç½°é°æ–°è‡ºå¹£10000å…ƒæ•´ã€‚è™•ç’°å¢ƒè¬›ç¿’1å°æ™‚æ•´ã€‚    ç½°é°(éé€£çºŒè™•ç½°)         10000
2                   0             ç½°é°æ–°è‡ºå¹£2400å…ƒæ•´ã€‚    ç½°é°(éé€£çºŒè™•ç½°)          2400
3                   0             ç½°é°æ–°è‡ºå¹£1500å…ƒæ•´ã€‚    ç½°é°(éé€£çºŒè™•ç½°)          1500

  penalty_date isimportant  isreducemoney county_name is_improve  \
0   2018-09-07        None           None         æ–°åŒ—å¸‚       ä¸é ˆæ”¹å–„
1   2018-02-21        None           None         å˜‰ç¾©ç¸£       ä¸é ˆæ”¹å–„
2   2018-10-11        None           None         æ–°åŒ—å¸‚       ä¸é ˆæ”¹å–„
3   2018-09-18        None           None         é«˜é›„å¸‚       ä¸é ˆæ”¹å–„

   allow_rework_date
0               None
1               None
2               None
3               None

[4 rows x 26 columns]
æŸ¥è©¢è€—æ™‚ï¼š0.1215 ç§’

C:\Users\User\AppData\Local\Temp\ipykernel_27200\1673839985.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT temp.fac_name,temp.cnt AS é•è¦äº‹ä»¶æ•¸
FROM (SELECT T.fac_name, COUNT(*) AS cnt
      FROM Transgress_Info T
      GROUP BY T.fac_uniformno,T.fac_name) AS temp
WHERE temp.cnt = (SELECT MAX(cnt2)
                  FROM (SELECT COUNT(*) AS cnt2
                        FROM Transgress_Info
                        GROUP BY fac_uniformno,fac_name) AS T2)
"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

C:\Users\User\AppData\Local\Temp\ipykernel_22448\2008799572.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

æŸ¥è©¢è€—æ™‚ï¼š1.5845 ç§’

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT temp.fac_name,temp.money AS ç½°æ¬¾é‡‘é¡
FROM (SELECT T.fac_name, SUM(P.penalty_money) AS money
      FROM Transgress_Info T,Penalty_Info P
      WHERE T.caseId = P.caseId
      GROUP BY T.fac_uniformno,T.fac_name) AS temp
WHERE temp.money = (SELECT MAX(money2)
                  FROM (SELECT SUM(P2.penalty_money) AS money2
                        FROM Transgress_Info T2,Penalty_Info P2
                        WHERE T2.caseId = P2.caseId
                        GROUP BY T2.fac_uniformno,T2.fac_name) AS T2)
"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

### POn

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT * 
FROM Labor_Transgress
WHERE fac_name = 'å—å±±äººå£½ä¿éšªè‚¡ä»½æœ‰é™å…¬å¸å°¹å´‡å ¯' 

"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

C:\Users\User\AppData\Local\Temp\ipykernel_22448\1275799470.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

æŸ¥è©¢è€—æ™‚ï¼š0.8713 ç§’

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT *
FROM Labor_Transgress L
WHERE L.fac_name = 'å—å±±äººå£½ä¿éšªè‚¡ä»½æœ‰é™å…¬å¸å°¹å´‡å ¯' AND L.penalty_date LIKE '2023%'

"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT TOP 1 temp.fac_name,temp.cnt AS é•è¦äº‹ä»¶æ•¸
FROM (SELECT L.fac_name, COUNT(*) AS cnt
      FROM Labor_Transgress L
      GROUP BY L.fac_name) AS temp
WHERE temp.cnt = (SELECT MAX(cnt2)
                  FROM (SELECT COUNT(*) AS cnt2
                        FROM Labor_Transgress
                        GROUP BY fac_name) AS T2)

"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT TOP 1 temp.fac_name,temp.money AS ç½°æ¬¾é‡‘é¡
FROM (SELECT L.fac_name, SUM(L.penalty_money) AS money
      FROM Labor_Transgress L
      GROUP BY L.fac_name) AS temp
WHERE temp.money = (SELECT MAX(money2)
                  FROM (SELECT SUM(L2.penalty_money) AS money2
                        FROM Labor_Transgress L2
                        GROUP BY L2.fac_name) AS T2)

"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

C:\Users\User\AppData\Local\Temp\ipykernel_22448\1607303819.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

æŸ¥è©¢è€—æ™‚ï¼š2.3822 ç§’

### EMS + POn

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT 'å‹å‹•é•è¦' AS 'é¡åˆ¥',fac_name,penalty_money,transgress_law,document_no
FROM Labor_Transgress
WHERE fac_name = 'å°å°¼å•†å¨ä½³é›…å¡é›…è‚¡ä»½æœ‰é™å…¬å¸å°ç£åˆ†å…¬å¸'
UNION
SELECT 'æ±™æŸ“æºé•è¦' AS 'é¡åˆ¥',fac_name,penalty_money,transgress_law,document_no
FROM Transgress_Info T,Penalty_Info P
WHERE T.caseId = P.caseId AND fac_name = 'å°å°¼å•†å¨ä½³é›…å¡é›…è‚¡ä»½æœ‰é™å…¬å¸å°ç£åˆ†å…¬å¸' 
"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """

"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT 'å‹å‹•é•è¦' AS 'é¡åˆ¥',fac_name,penalty_money,transgress_law,document_no,penalty_date
FROM Labor_Transgress
WHERE fac_name = 'è¬ç››å¯¦æ¥­è‚¡ä»½æœ‰é™å…¬å¸' AND penalty_date LIKE '2024%'
UNION
SELECT 'æ±™æŸ“æºé•è¦' AS 'é¡åˆ¥',fac_name,penalty_money,transgress_law,document_no,penalty_date
FROM Transgress_Info T,Penalty_Info P 
WHERE T.caseId = P.caseId AND fac_name = 'è¬ç››å¯¦æ¥­è‚¡ä»½æœ‰é™å…¬å¸' AND penalty_date LIKE '2024%'
"""

df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT 'æ±™æŸ“æºé•è¦' AS 'é¡åˆ¥',temp.fac_name,temp.cnt AS 'é•è¦äº‹ä»¶æ•¸'
FROM (SELECT T.fac_name, COUNT(*) AS cnt
      FROM Transgress_Info T
      GROUP BY T.fac_uniformno,T.fac_name) AS temp
WHERE temp.cnt = (SELECT MAX(cnt2)
                  FROM (SELECT COUNT(*) AS cnt2
                        FROM Transgress_Info
                        GROUP BY fac_uniformno,fac_name) AS T2)
UNION
SELECT TOP 1 'å‹å‹•é•è¦' AS 'é¡åˆ¥',temp.fac_name,temp.cnt AS é•è¦äº‹ä»¶æ•¸
FROM (SELECT L.fac_name, COUNT(*) AS cnt
      FROM Labor_Transgress L
      GROUP BY L.fac_name) AS temp
WHERE temp.cnt = (SELECT MAX(cnt2)
                  FROM (SELECT COUNT(*) AS cnt2
                        FROM Labor_Transgress
                        GROUP BY fac_name) AS T2)
"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()

In [ ]:
# é–‹å§‹è¨ˆæ™‚
start = time.time()

# é€£ç·šè³‡æ–™åº«
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J1OAU7VN;'
    'DATABASE=master;'
    'UID=sa;'
    'PWD=6124Nok45'
)

query = """
SELECT 'æ±™æŸ“æºé•è¦' AS 'é¡åˆ¥',temp.fac_name,temp.money AS ç½°æ¬¾é‡‘é¡
FROM (SELECT T.fac_name, SUM(P.penalty_money) AS money
      FROM Transgress_Info T,Penalty_Info P
      WHERE T.caseId = P.caseId
      GROUP BY T.fac_uniformno,T.fac_name) AS temp
WHERE temp.money = (SELECT MAX(money2)
                  FROM (SELECT SUM(P2.penalty_money) AS money2
                        FROM Transgress_Info T2,Penalty_Info P2
                        WHERE T2.caseId = P2.caseId
                        GROUP BY T2.fac_uniformno,T2.fac_name) AS T2)
UNION
SELECT TOP 1 'å‹å‹•é•è¦' AS 'é¡åˆ¥',temp.fac_name,temp.money AS ç½°æ¬¾é‡‘é¡
FROM (SELECT L.fac_name, SUM(L.penalty_money) AS money
      FROM Labor_Transgress L
      GROUP BY L.fac_name) AS temp
WHERE temp.money = (SELECT MAX(money2)
                  FROM (SELECT SUM(L2.penalty_money) AS money2
                        FROM Labor_Transgress L2
                        GROUP BY L2.fac_name) AS T2)
"""
df = pd.read_sql(query, conn)
# çµæŸè¨ˆæ™‚
end = time.time()
# é¡¯ç¤ºæ™‚é–“
print(f"æŸ¥è©¢è€—æ™‚ï¼š{end - start:.4f} ç§’")
conn.close()