In [1]:
import mariadb
import sys
import pandas as pd
import pyodbc
import numpy as np
from collections import Counter
import re
from datetime import datetime
import time
import logging

In [6]:
# æŸ¥è©¢ MSSQL è³‡æ–™åº«æ‰€æœ‰è³‡æ–™è¡¨çš„
def mssql_schema_query():
    return """
                ;WITH ColumnInfo AS (
                SELECT 
                    c.TABLE_NAME,
                    c.COLUMN_NAME,
                    CASE 
                        WHEN c.DATA_TYPE IN ('varchar', 'nvarchar', 'char', 'nchar')
                            THEN CONCAT(c.DATA_TYPE, '(', c.CHARACTER_MAXIMUM_LENGTH, ')')
                        ELSE c.DATA_TYPE
                    END AS DATA_TYPE,
                    -- ä¸»éµæ¨™è¨˜
                    CASE 
                        WHEN pk.COLUMN_NAME IS NOT NULL THEN 'YES'
                        ELSE 'NO'
                    END AS IS_PRIMARY_KEY,
                    -- å¤–éµæ¨™è¨˜ï¼ˆæ­£ç¢ºåœ°å¾ referential_constraints å¾—ä¾†ï¼‰
                    CASE 
                        WHEN fk_col.COLUMN_NAME IS NOT NULL THEN 'YES'
                        ELSE 'NO'
                    END AS IS_FOREIGN_KEY,
                    -- å¤–éµé—œè¯è³‡è¨Š
                    ref_tab.name AS REFERENCES_TABLE,
                    ref_col.name AS REFERENCES_COLUMN,
                    fk.delete_referential_action_desc AS ON_DELETE,
                    fk.update_referential_action_desc AS ON_UPDATE,
                    -- ç´¢å¼•å‹æ…‹
                    ISNULL(idx.INDEX_TYPE, 'NONE') AS INDEX_TYPE

                FROM INFORMATION_SCHEMA.COLUMNS c

                -- ä¸»éµ JOIN
                LEFT JOIN (
                    SELECT kcu.TABLE_NAME, kcu.COLUMN_NAME, tc.CONSTRAINT_NAME
                    FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc
                    JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE kcu
                        ON tc.CONSTRAINT_NAME = kcu.CONSTRAINT_NAME
                    WHERE tc.CONSTRAINT_TYPE = 'PRIMARY KEY'
                ) pk ON c.TABLE_NAME = pk.TABLE_NAME AND c.COLUMN_NAME = pk.COLUMN_NAME

                -- å¤–éµ JOINï¼šå–å¾—æ­£ç¢ºçš„å¤–éµæ¬„ä½
                LEFT JOIN (
                    SELECT kcu.TABLE_NAME, kcu.COLUMN_NAME, rc.CONSTRAINT_NAME
                    FROM INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS rc
                    JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE kcu
                        ON rc.CONSTRAINT_NAME = kcu.CONSTRAINT_NAME
                ) fk_col ON c.TABLE_NAME = fk_col.TABLE_NAME AND c.COLUMN_NAME = fk_col.COLUMN_NAME

                -- sys.foreign_key_columns â†’ è©³ç´°å¤–éµè¡Œç‚º
                LEFT JOIN sys.foreign_key_columns fkc 
                    ON c.COLUMN_NAME = COL_NAME(fkc.parent_object_id, fkc.parent_column_id)
                    AND OBJECT_NAME(fkc.parent_object_id) = c.TABLE_NAME
                LEFT JOIN sys.foreign_keys fk 
                    ON fk.object_id = fkc.constraint_object_id
                LEFT JOIN sys.tables ref_tab 
                    ON ref_tab.object_id = fkc.referenced_object_id
                LEFT JOIN sys.columns ref_col 
                    ON ref_col.object_id = fkc.referenced_object_id 
                    AND ref_col.column_id = fkc.referenced_column_id

                -- å°æ‡‰ sys.columns çš„ object_id èˆ‡ column_id
                LEFT JOIN sys.columns col 
                    ON col.object_id = OBJECT_ID(c.TABLE_NAME) AND col.name = c.COLUMN_NAME

                -- æŸ¥è©¢è©²æ¬„æ˜¯å¦å­˜åœ¨æ–¼ç´¢å¼•ä¸­
                LEFT JOIN (
                    SELECT ic.object_id, ic.column_id,
                        MAX(CASE i.type 
                            WHEN 1 THEN 'CLUSTERED' 
                            WHEN 2 THEN 'NONCLUSTERED' 
                        END) AS INDEX_TYPE
                    FROM sys.indexes i
                    JOIN sys.index_columns ic 
                        ON i.object_id = ic.object_id AND i.index_id = ic.index_id
                    WHERE i.is_hypothetical = 0
                    GROUP BY ic.object_id, ic.column_id
                ) idx ON idx.object_id = col.object_id AND idx.column_id = col.column_id

                -- åªæŸ¥è‡ªå»ºè¡¨ï¼ˆæ’é™¤ç³»çµ±è¡¨ï¼‰
                WHERE EXISTS (
                    SELECT 1 
                    FROM sys.tables t
                    WHERE t.name = c.TABLE_NAME 
                    AND t.is_ms_shipped = 0
                    AND SCHEMA_NAME(t.schema_id) = 'dbo'
                )
            )

            -- å»é™¤å¤šç­†å°æ‡‰çš„å¤–éµï¼ˆå¦‚è¤‡åˆéµï¼‰ï¼Œåªä¿ç•™ä¸€ç­†ä»¥é¿å…é‡è¤‡æ¬„ä½å‡ºç¾
            SELECT *
            FROM (
                SELECT *, ROW_NUMBER() OVER (PARTITION BY TABLE_NAME, COLUMN_NAME ORDER BY REFERENCES_TABLE) AS rn
                FROM ColumnInfo
            ) t
            WHERE rn = 1
            ORDER BY TABLE_NAME, 
                (SELECT ORDINAL_POSITION 
                FROM INFORMATION_SCHEMA.COLUMNS 
                WHERE TABLE_NAME = t.TABLE_NAME AND COLUMN_NAME = t.COLUMN_NAME);

        """

In [118]:
# æŸ¥è©¢ MariaDB è³‡æ–™åº«æ‰€æœ‰è³‡æ–™è¡¨çš„èªæ³•å­—ä¸²
def mariaDB_schema_query(table_name):
    return  f"""SELECT 
    c.TABLE_NAME,
    c.COLUMN_NAME,
    CONCAT(c.DATA_TYPE,
        IFNULL(CONCAT('(', c.CHARACTER_MAXIMUM_LENGTH, ')'), '')
    ) AS DATA_TYPE,

    MAX(CASE 
        WHEN tc.CONSTRAINT_TYPE = 'PRIMARY KEY' THEN 'YES'
        ELSE 'NO'
    END) AS IS_PRIMARY_KEY,

    MAX(CASE 
        WHEN kcu.REFERENCED_TABLE_NAME IS NOT NULL THEN 'YES'
        ELSE 'NO'
    END) AS IS_FOREIGN_KEY,

    MAX(kcu.REFERENCED_TABLE_NAME) AS REFERENCES_TABLE,
    MAX(kcu.REFERENCED_COLUMN_NAME) AS REFERENCES_COLUMN,

    MAX(rc.DELETE_RULE) AS ON_DELETE,
    MAX(rc.UPDATE_RULE) AS ON_UPDATE,

    MAX(
        IF(s.INDEX_NAME IS NOT NULL, 
            IF(s.NON_UNIQUE = 0, 'CLUSTERED', 'NONCLUSTERED'),
            'NONE'
        )
    ) AS INDEX_TYPE

FROM information_schema.COLUMNS c

LEFT JOIN information_schema.KEY_COLUMN_USAGE kcu
    ON c.TABLE_SCHEMA = kcu.TABLE_SCHEMA
    AND c.TABLE_NAME = kcu.TABLE_NAME
    AND c.COLUMN_NAME = kcu.COLUMN_NAME

LEFT JOIN information_schema.TABLE_CONSTRAINTS tc
    ON tc.CONSTRAINT_NAME = kcu.CONSTRAINT_NAME
    AND tc.TABLE_NAME = kcu.TABLE_NAME
    AND tc.TABLE_SCHEMA = kcu.TABLE_SCHEMA

LEFT JOIN information_schema.REFERENTIAL_CONSTRAINTS rc
    ON rc.CONSTRAINT_NAME = kcu.CONSTRAINT_NAME
    AND rc.CONSTRAINT_SCHEMA = kcu.TABLE_SCHEMA

LEFT JOIN information_schema.STATISTICS s
    ON s.TABLE_SCHEMA = c.TABLE_SCHEMA
    AND s.TABLE_NAME = c.TABLE_NAME
    AND s.COLUMN_NAME = c.COLUMN_NAME

WHERE c.TABLE_SCHEMA = 'test'
  AND c.TABLE_NAME = '{table_name}'  -- âœ… åªæŸ¥é€™å¼µè¡¨

GROUP BY 
    c.TABLE_NAME, c.COLUMN_NAME, c.DATA_TYPE, c.CHARACTER_MAXIMUM_LENGTH

ORDER BY c.TABLE_NAME, c.ORDINAL_POSITION;

"""

In [7]:
# æŸ¥è©¢ MSSQL ä¸­è³‡æ–™è¡¨çš„å„é …è³‡è¨Š
def get_mssql_table_details():
    try:
        # é€£ç·šåˆ° MSSQL
        mssql_conn = pyodbc.connect(
            'DRIVER={ODBC Driver 17 for SQL Server};'
            'SERVER=LAPTOP-J1OAU7VN;'
            'DATABASE=master;'
            'UID=sa;'
            'PWD=6124Nok45'
        )
        mssql_cursor = mssql_conn.cursor()
        print("âœ… æˆåŠŸé€£ç·š MSSQL")
        # æŸ¥è©¢ä½¿ç”¨è€…è‡ªå®šç¾©çš„æ‰€æœ‰è³‡æ–™è¡¨è³‡è¨Š
        mssql_schema_querystr = mssql_schema_query()
        mssql_cursor.execute(mssql_schema_querystr)

        # å¾ MSSQL å–å¾—æ‰€æœ‰æŸ¥è©¢çµæœ
        columns = mssql_cursor.fetchall()

        # å°‡æ‰€æœ‰è³‡æ–™è¡¨å®šç¾©å„²å­˜åœ¨ schema_info ä¸­
        schema_info = {}
        table_name = columns[0][0]  # columns[0][0] ä»£è¡¨æŸ¥è©¢çš„ç¬¬ä¸€ç­†çµæœçš„ç¬¬ä¸€å€‹æ¬„ä½ï¼Œç¬¬ä¸€å€‹æ¬„ä½ç‚ºè³‡æ–™è¡¨åç¨±
        schema_info[table_name] = []
        for col in columns:
            if col[0] != table_name:
                table_name = col[0]
                # å‰µå»ºæ–°è³‡æ–™è¡¨çš„ key
                schema_info[table_name] = []
            # æ¯åˆ— col[1:10] å„²å­˜è©²è³‡æ–™è¡¨çš„æŸå€‹å±¬æ€§çš„æ‰€æœ‰è³‡è¨Š
            schema_info[table_name].append(col[1:10])

        # è¼¸å‡ºè³‡æ–™è¡¨åŠå…¶æ¬„ä½è³‡è¨Š
        print("ä½¿ç”¨è€…è‡ªå®šç¾©è³‡æ–™è¡¨çµæ§‹å¦‚ä¸‹ï¼š")
        for table in schema_info:
            print(f'\n{table}')
            for col in schema_info[table]:
                print(f'   â”œâ”€ {col}')
    except Exception as e:
        print("ç™¼ç”ŸéŒ¯èª¤!", e)

    finally:
        mssql_conn.close()
        print("\né€£ç·šå·²é—œé–‰")
    return schema_info

In [8]:
# è³‡æ–™è¡¨åç¨± : COLUMN_NAME, DATA_TYPE, IS_PRIMARY_KEY, IS_FOREIGN_KEY, REFERENCES_TABLE, REFERENCES_COLUMN, ON_DELETE, ON_UPDATE, INDEX_TYPE
mssql_schema = get_mssql_table_details()
# åˆ°é€™æ­¥å¯ä»¥æŸ¥å‡ºæ‰€æœ‰å»ºè¡¨æ™‚éœ€è¦çš„è³‡è¨Š

âœ… æˆåŠŸé€£ç·š MSSQL
ä½¿ç”¨è€…è‡ªå®šç¾©è³‡æ–™è¡¨çµæ§‹å¦‚ä¸‹ï¼š

Appeal
   â”œâ”€ ('caseId', 'int', 'YES', 'YES', 'Penalty_Info', 'caseId', 'NO_ACTION', 'CASCADE', 'CLUSTERED')
   â”œâ”€ ('document_no', 'nvarchar(100)', 'YES', 'YES', 'Penalty_Info', 'document_no', 'NO_ACTION', 'CASCADE', 'CLUSTERED')
   â”œâ”€ ('fac_uniformno', 'nvarchar(100)', 'YES', 'YES', 'Factory', 'fac_uniformno', 'NO_ACTION', 'CASCADE', 'CLUSTERED')
   â”œâ”€ ('fac_name', 'nvarchar(100)', 'YES', 'YES', 'Factory', 'fac_name', 'NO_ACTION', 'CASCADE', 'CLUSTERED')
   â”œâ”€ ('appeal_or_rescind', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('ispetition', 'int', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('lawsuit_date_1', 'date', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('petition_agency', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('petition_results', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')

Factory
   â”œâ”€ ('fac_uniformno', 'nvarchar(100)', 'YES', 'NO', None, None, None, None, 'CLUSTERED')
   â”œâ”€ ('fac_name', 'nvarchar(100)', 'YES', 'NO', None, None, None, None, 'CLUSTERED')
   â”œâ”€ ('fac_area_code', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('fac_address', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('ems_no', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')

Inspection
   â”œâ”€ ('caseId', 'int', 'YES', 'YES', 'Penalty_Info', 'caseId', 'NO_ACTION', 'CASCADE', 'CLUSTERED')
   â”œâ”€ ('document_no', 'nvarchar(100)', 'YES', 'YES', 'Penalty_Info', 'document_no', 'NO_ACTION', 'CASCADE', 'CLUSTERED')
   â”œâ”€ ('inspection_datetime_s', 'datetime', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('inspection_condition', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')

Labor_Law
   â”œâ”€ ('transgress_law', 'nvarchar(1000)', 'YES', 'NO', None, None, None, None, 'CLUSTERED')
   â”œâ”€ ('law_content', 'nvarchar(1000)', 'NO', 'NO', None, None, None, None, 'NONE')

Labor_Transgress
   â”œâ”€ ('pId', 'int', 'YES', 'NO', None, None, None, None, 'CLUSTERED')
   â”œâ”€ ('agency', 'nvarchar(1000)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('announce_date', 'date', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('penalty_date', 'date', 'NO', 'NO', None, None, None, None, 'NONCLUSTERED')
   â”œâ”€ ('document_no', 'nvarchar(1000)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('fac_name', 'nvarchar(1000)', 'NO', 'NO', None, None, None, None, 'NONCLUSTERED')
   â”œâ”€ ('transgress_law', 'nvarchar(1000)', 'NO', 'YES', 'Labor_Law', 'transgress_law', 'SET_NULL', 'CASCADE', 'NONE')
   â”œâ”€ ('penalty_money', 'int', 'NO', 'NO', None, None, None, None, 'NONCLUSTERED')
   â”œâ”€ ('info', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')

Payment
   â”œâ”€ ('caseId', 'int', 'YES', 'YES', 'Penalty_Info', 'caseId', 'NO_ACTION', 'CASCADE', 'CLUSTERED')
   â”œâ”€ ('document_no', 'nvarchar(100)', 'YES', 'YES', 'Penalty_Info', 'document_no', 'NO_ACTION', 'CASCADE', 'CLUSTERED')
   â”œâ”€ ('paymentstate', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('isreminder', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('isadmincourt', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')

Penalty_Info
   â”œâ”€ ('caseId', 'int', 'YES', 'YES', 'Transgress_Info', 'caseId', 'NO_ACTION', 'NO_ACTION', 'CLUSTERED')
   â”œâ”€ ('document_no', 'nvarchar(100)', 'YES', 'NO', None, None, None, None, 'CLUSTERED')
   â”œâ”€ ('gist_define', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('improve_deadline', 'date', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('track_illegal_money', 'int', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('subject_str', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('penaltykind', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('penalty_money', 'int', 'NO', 'NO', None, None, None, None, 'NONCLUSTERED')
   â”œâ”€ ('penalty_date', 'date', 'NO', 'NO', None, None, None, None, 'NONCLUSTERED')
   â”œâ”€ ('isimportant', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('isreducemoney', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('county_name', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('is_improve', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('allow_rework_date', 'date', 'NO', 'NO', None, None, None, None, 'NONE')

Transgress_Info
   â”œâ”€ ('caseId', 'int', 'YES', 'NO', None, None, None, None, 'CLUSTERED')
   â”œâ”€ ('transgress_control_id', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('fac_uniformno', 'nvarchar(100)', 'NO', 'YES', 'Factory', 'fac_uniformno', 'NO_ACTION', 'CASCADE', 'NONCLUSTERED')
   â”œâ”€ ('fac_name', 'nvarchar(100)', 'NO', 'YES', 'Factory', 'fac_name', 'NO_ACTION', 'CASCADE', 'NONCLUSTERED')
   â”œâ”€ ('transgress_address', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('openinfor', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('transgress_city_code', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('transgress_date', 'date', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('transgress_law', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('transgress_type', 'nvarchar(100)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('transgress_name', 'nvarchar(-1)', 'NO', 'NO', None, None, None, None, 'NONE')
   â”œâ”€ ('illegal_money', 'int', 'NO', 'NO', None, None, None, None, 'NONE')

é€£ç·šå·²é—œé–‰

In [127]:
def setup_logger():
    logging.basicConfig(
        filename='log.txt',                # å¯«å…¥çš„æª”æ¡ˆåç¨±
        level=logging.INFO,                # è¨˜éŒ„å±¤ç´šï¼šINFO / WARNING / ERROR
        format='%(asctime)s - %(levelname)s - %(message)s',
        encoding='utf-8'                   # é˜²æ­¢ä¸­æ–‡å­—å‡ºç¾äº‚ç¢¼
    )

In [178]:
# é€™è£¡è¦å¯«å°‡è³‡æ–™è¡¨å…¨æ•¸è½‰ç§»åˆ° mariaDB å¾Œåšé©—è­‰
def valid_sqlschema(mssql_schema,mariaDB_schema,table_name):
    mssql_table = mssql_schema[table_name]
    maria_table = mariaDB_schema[table_name]
    for i in range(len(mssql_table)):
        col_name1, col_type1, is_pk1, is_fk1, ref_table1, ref_col1, on_del1, on_upd1, idx1 = mssql_table[i]
        col_name2, col_type2, is_pk2, is_fk2, ref_table2, ref_col2, on_del2, on_upd2, idx2 = maria_table[i]
        if col_name1.lower() != col_name2.lower():
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼Œæ¬„ä½åç¨±ä¸ä¸€è‡´ => mssql : {col_name1} maria : {col_name2}")
        type_error = f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼Œæ¬„ä½å‹åˆ¥åŠé•·åº¦ä¸ä¸€è‡´ => mssql : {col_name1} {col_type1} maria : {col_name2} {col_type2}"
        if 'nvarchar' in col_type1:
            if col_type1 == 'nvarchar(-1)':
                if col_type2 != 'longtext(4294967295)':
                    logging.error(type_error)
                continue
            if 'varchar' not in col_type2:
                logging.error(type_error)
                continue
            # å–å¾—æ‹¬è™Ÿå…§çš„æ•¸å­—
            col_type1_len = col_type1.split('(')[1].split(')')[0]
            col_type2_len = col_type2.split('(')[1].split(')')[0]
            if col_type1_len != col_type2_len:
                logging.error(type_error)
                continue
        else:
            if col_type1 != col_type2:
                logging.error(type_error)
        if is_pk1 != is_pk2:
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼Œä¸»éµè¨­å®šä¸ä¸€è‡´ => mssql : {col_name1} {is_pk1} maria : {col_name2} {is_pk2}")
        if is_fk1 != is_fk2:
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼Œå¤–éµè¨­å®šä¸ä¸€è‡´ => mssql : {col_name1} {is_fk1} maria : {col_name2} {is_fk2}")

        if (ref_table1 is None and ref_table2 is not None) or (ref_table1 is not None and ref_table2 is None):
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼Œåƒè€ƒè³‡æ–™è¡¨ä¸ä¸€è‡´ => mssql : {col_name1} {ref_table1} maria : {col_name2} {ref_table2}")
        elif ref_table1 is not None and ref_table2 is not None and ref_table1.lower() != ref_table2.lower():
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼Œåƒè€ƒè³‡æ–™è¡¨ä¸ä¸€è‡´ => mssql : {col_name1} {ref_table1} maria : {col_name2} {ref_table2}")
            
        if (ref_col1 is None and ref_col2 is not None) or (ref_col1 is not None and ref_col2 is None):
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼Œåƒè€ƒæ¬„ä½ä¸ä¸€è‡´ => mssql : {col_name1} {ref_col1} maria : {col_name2} {ref_col2}")
        elif ref_col1 is not None and ref_col2 is not None and ref_col1.lower() != ref_col2.lower():
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼Œåƒè€ƒæ¬„ä½ä¸ä¸€è‡´ => mssql : {col_name1} {ref_col1} maria : {col_name2} {ref_col2}")

        if (on_del1 is None and on_del2 is not None) or (on_del1 is not None and on_del2 is None):
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼ŒON DELETE è¨­å®šä¸ä¸€è‡´ => mssql : {col_name1} {on_del1} maria : {col_name2} {on_del2}")
        elif on_del1 is not None and on_del2 is not None:
            # ç§»é™¤ NO_ACTION å’Œ SET_NULL ä¸­çš„åº•ç·š
            on_del1_clean = on_del1.replace('_', ' ') if on_del1 in ['NO_ACTION', 'SET_NULL'] else on_del1
            if on_del1_clean != on_del2:
                logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼ŒON DELETE è¨­å®šä¸ä¸€è‡´ => mssql : {col_name1} {on_del1} maria : {col_name2} {on_del2}")

        if (on_upd1 is None and on_upd2 is not None) or (on_upd1 is not None and on_upd2 is None):
            logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼ŒON UPDATE è¨­å®šä¸ä¸€è‡´ => mssql : {col_name1} {on_upd1} maria : {col_name2} {on_upd2}")
        elif on_upd1 is not None and on_upd2 is not None:
            # ç§»é™¤ NO_ACTION å’Œ SET_NULL ä¸­çš„åº•ç·š
            on_upd1_clean = on_upd1.replace('_', ' ') if on_upd1 in ['NO_ACTION', 'SET_NULL'] else on_upd1
            if on_upd1_clean != on_upd2:
                logging.error(f"âŒ è½‰ç§» {table_name} éŒ¯èª¤ï¼ŒON UPDATE è¨­å®šä¸ä¸€è‡´ => mssql : {col_name1} {on_upd1} maria : {col_name2} {on_upd2}")

    return

In [179]:
# å°‡ MSSQL è£¡çš„è³‡æ–™è¡¨è½‰ç§»åˆ° MariaDB
# æ­¥é©Ÿæ˜¯å°‡ mssql_schema è£¡æ‰€æœ‰è³‡æ–™è¡¨è³‡è¨Šä½¿ç”¨ CREATE èªæ³•åœ¨ MariaDB ä¸­å»ºç«‹è³‡æ–™è¡¨
def transfer_schema_toMaria(mssql_schema):
    setup_logger()
    try:
        # é€£ç·šåˆ° MariaDB
        maria_conn = mariadb.connect(
            host="localhost",     
            port=3306,              
            user="root",           
            password="6124Nok45",      
            database="test" 
        )
        maria_cursor = maria_conn.cursor()
        print("âœ… æˆåŠŸé€£ç·š MariaDB")
        
        for table in mssql_schema:
            
            # å­—å…¸æœƒå­˜çš„è³‡æ–™è¡¨è³‡è¨Š : COLUMN_NAME, DATA_TYPE, IS_PRIMARY_KEY, IS_FOREIGN_KEY, REFERENCES_TABLE, REFERENCES_COLUMN, ON_DELETE, ON_UPDATE, INDEX_TYPE
            # å»ºç«‹ CREATE èªæ³•å­—ä¸² (é‚„æœªè¨­å®š FK)
            insert_query = f'CREATE TABLE {table} ('
            index_query = ''
            col_value = ''
            pk_list = []  # å„²å­˜ pk æ¬„ä½
            idx_list = [] # å„²å­˜ nonclustered index æ¬„ä½

            # å¾ mssql_schema[table] å–å‡º table è³‡æ–™è¡¨çš„æ‰€æœ‰æ¬„ä½å®šç¾©
            for i ,col in enumerate(mssql_schema[table]):
                col_name, col_type, is_pk, is_fk, ref_table, ref_col, on_del, on_upd, idx = col
                # è‹¥è©²æ¬„ä½æ˜¯ PK
                if is_pk == 'YES':
                    pk_list.append(col[0])
                # MariaDB æ²’æœ‰ nvarchar åªæœ‰ varcharï¼Œè‹¥è©²æ¬„ä½æ˜¯ nvarchar å‹åˆ¥
                if 'nvarchar' in col_type:
                    # è‹¥åŸå§‹ MSSQL è£¡æ¬„ä½å‹åˆ¥é•·åº¦ç‚º nvarchar(MAX)ï¼ŒæŸ¥è©¢çµæœæœƒé¡¯ç¤º nvarchar(-1)
                    # mariaDB ä¸­ä»¥ LONGTEXT è¿‘ä¼¼é•·åº¦ MAX
                    # è‹¥ä¸»éµæ¬„ä½æ˜¯ nvarcharï¼Œå‰‡å…¶é•·åº¦æœ‰é™åˆ¶ä¸èƒ½è¶…é 255
                    # è‹¥ fk è¶…é 255 ä¸”åˆåƒè€ƒåˆ°å¦ä¸€å¼µè¡¨çš„ä¸»éµï¼Œå› ç‚ºå…¶åƒè€ƒåˆ°çš„ä¸»éµæœƒè¢«æ›´å‹•é•·åº¦ç‚º 255ï¼Œæ‰€ä»¥æ­¤åƒè€ƒéµæ¬„ä½é•·åº¦ä¹Ÿè¦æ›´å‹•ç‚º 255
                    if (is_pk == 'YES' or is_fk == 'YES') and int(col_type.split('(')[1].split(')')[0]) > 255:
                        col_type = 'LONGTEXT' if '-1' in col_type else 'varchar(255)'
                    else:
                        col_type = 'LONGTEXT' if '-1' in col_type else col_type.replace('nvarchar','varchar')
                
                col_value += f'\n    {col_name} {col_type},'
                
                if idx == 'NONCLUSTERED':
                    if 'varchar' in col_type and int(col_type.split('(')[1].split(')')[0]) > 255:
                        idx_list.append(f'{col_name}(100)')
                    else:
                        idx_list.append(col_name)


            insert_query += f'{col_value}\n    PRIMARY KEY({",".join(pk_list)}),'
            insert_query = insert_query[:-1] + '\n);'
            print(insert_query)
            # åŸ·è¡Œæ’å…¥è³‡æ–™è¡¨èªæ³•
            maria_cursor.execute(insert_query)

            if idx_list:
                index_query = f'CREATE INDEX {table}_index ON {table} ({",".join(idx_list)});'
                print(index_query) 
                maria_cursor.execute(index_query)
                
            
        # åŸ·è¡Œå»ºç«‹ç´¢å¼•èªæ³•
            
        # å„²å­˜ä»¥å»ºç«‹å¥½çš„ mariaDB è³‡æ–™è¡¨ç¶±è¦ï¼Œç”¨æ–¼æ¯æ­¥é©—è­‰
        maria_schema = {}
        # é–‹å§‹è¨­å®š FK è³‡è¨Šï¼Œåˆ°é€™æ­¥æ‰€æœ‰è³‡æ–™è¡¨å®šç¾©éƒ½å·²å®Œæˆï¼Œå¯ä»¥é€²è¡Œé©—è­‰
        for table in mssql_schema:
            set_fk = ''   # å»ºç«‹ fk èªæ³•
            # è¨˜éŒ„ç•¶å‰è³‡æ–™è¡¨ (table) åƒè€ƒéµæ‰€åƒè€ƒåˆ°çš„è³‡æ–™è¡¨ï¼ŒbeRef_table[è¢«åƒè€ƒçš„è³‡æ–™è¡¨åç¨±] : [åƒè€ƒéµæ¬„ä½]
            beRef_table = {table : [] for table in mssql_schema}
            # è¨˜éŒ„ç•¶å‰è³‡æ–™è¡¨ (table) åƒè€ƒéµæ‰€åƒè€ƒåˆ°çš„è³‡æ–™è¡¨è¨­å®šçš„å®Œæ•´æ€§é™åˆ¶ï¼Œref_col_constraint[è¢«åƒè€ƒçš„è³‡æ–™è¡¨åç¨±] : [é™åˆ¶]
            ref_col_constraint = {table : [] for table in mssql_schema}
            # æª¢æŸ¥ç•¶å‰ table çš„æ‰€æœ‰æ¬„ä½æ˜¯å¦ç‚º fk
            for i ,col in enumerate(mssql_schema[table]):
                col_name, col_type, is_pk, is_fk, ref_table, ref_col, on_del, on_upd, idx = col

                # è‹¥è©²æ¬„ä½æ˜¯ FK
                if is_fk == 'YES':
                    
                    beRef_table[ref_table].append(col_name)
                    # å°‡ NO_ACTIONã€SET_NULL æ”¹æˆç¬¦åˆèªæ³•çš„æ ¼å¼
                    if not ref_col_constraint[ref_table]:
                        on_del = on_del.replace('_',' ') if on_del in ('NO_ACTION', 'SET_NULL') else on_del
                        on_upd = on_upd.replace('_',' ') if on_upd in ('NO_ACTION', 'SET_NULL') else on_upd
                        ref_col_constraint[ref_table].extend([on_del, on_upd])
            for ref, fk_col in beRef_table.items():
                # è‹¥è©²è³‡æ–™è¡¨ (ref) æœ‰è¢«ç•¶å‰è³‡æ–™è¡¨ (table) åƒè€ƒåˆ°ï¼Œfk_col æ‰æœƒæœ‰å€¼ï¼Œå»ºç«‹æ–°å¢ FK çš„èªæ³•
                if fk_col:
                    on_del, on_upd = ref_col_constraint[ref]
                    set_fk += f'\nADD FOREIGN KEY({",".join(fk_col)}) REFERENCES {ref}({",".join(fk_col)}) ON DELETE {on_del} ON UPDATE {on_upd},'
            if set_fk:
                set_fk = f'ALTER TABLE {table}{set_fk[:-1]};'
                print(set_fk)
                maria_cursor.execute(set_fk)
            logging.info(f"ğŸš€ å»ºç«‹è³‡æ–™è¡¨ {table} å®Œç•¢")

            # é€™è£¡ä¸Šè¿°ç¨‹å¼çµæŸå·²å»ºå®Œä¸€å€‹å®Œæ•´è³‡æ–™è¡¨ï¼Œç¾åœ¨å¾ mariaDB æŸ¥å‡ºé€™å€‹è³‡æ–™è¡¨æ‰€æœ‰æ¬„ä½å®šç¾©
            maria_querystr = mariaDB_schema_query(table)
            maria_cursor.execute(maria_querystr)
            columns = maria_cursor.fetchall()
            maria_schema[table] = []
            for col in columns:
                maria_schema[table].append(col[1:10])
            
            # é©—è­‰è³‡æ–™è¡¨ç¶±è¦ï¼Œå°‡ mariaDb è³‡æ–™è¡¨å®šç¾©èˆ‡ MSSQL è³‡æ–™è¡¨å®šç¾©åšæ¯”å°é©—è­‰
            valid_sqlschema(mssql_schema,maria_schema,table)

    except Exception as e:
        print("ç™¼ç”ŸéŒ¯èª¤!", e)
    finally:
        maria_conn.close()
        print("\né€£ç·šå·²é—œé–‰")

In [180]:
transfer_schema_toMaria(mssql_schema)

âœ… æˆåŠŸé€£ç·š MariaDB
CREATE TABLE Appeal (
    caseId int,
    document_no varchar(100),
    fac_uniformno varchar(100),
    fac_name varchar(100),
    appeal_or_rescind LONGTEXT,
    ispetition int,
    lawsuit_date_1 date,
    petition_agency varchar(100),
    petition_results LONGTEXT,
    PRIMARY KEY(caseId,document_no,fac_uniformno,fac_name)
);
CREATE TABLE Factory (
    fac_uniformno varchar(100),
    fac_name varchar(100),
    fac_area_code varchar(100),
    fac_address LONGTEXT,
    ems_no varchar(100),
    PRIMARY KEY(fac_uniformno,fac_name)
);
CREATE TABLE Inspection (
    caseId int,
    document_no varchar(100),
    inspection_datetime_s datetime,
    inspection_condition LONGTEXT,
    PRIMARY KEY(caseId,document_no)
);
CREATE TABLE Labor_Law (
    transgress_law varchar(255),
    law_content varchar(1000),
    PRIMARY KEY(transgress_law)
);
CREATE TABLE Labor_Transgress (
    pId int,
    agency varchar(1000),
    announce_date date,
    penalty_date date,
    document_no varchar(1000),
    fac_name varchar(1000),
    transgress_law varchar(255),
    penalty_money int,
    info LONGTEXT,
    PRIMARY KEY(pId)
);
CREATE INDEX Labor_Transgress_index ON Labor_Transgress (penalty_date,fac_name(100),penalty_money);
CREATE TABLE Payment (
    caseId int,
    document_no varchar(100),
    paymentstate varchar(100),
    isreminder varchar(100),
    isadmincourt varchar(100),
    PRIMARY KEY(caseId,document_no)
);
CREATE TABLE Penalty_Info (
    caseId int,
    document_no varchar(100),
    gist_define LONGTEXT,
    improve_deadline date,
    track_illegal_money int,
    subject_str LONGTEXT,
    penaltykind varchar(100),
    penalty_money int,
    penalty_date date,
    isimportant varchar(100),
    isreducemoney LONGTEXT,
    county_name varchar(100),
    is_improve varchar(100),
    allow_rework_date date,
    PRIMARY KEY(caseId,document_no)
);
CREATE INDEX Penalty_Info_index ON Penalty_Info (penalty_money,penalty_date);
CREATE TABLE Transgress_Info (
    caseId int,
    transgress_control_id varchar(100),
    fac_uniformno varchar(100),
    fac_name varchar(100),
    transgress_address LONGTEXT,
    openinfor LONGTEXT,
    transgress_city_code varchar(100),
    transgress_date date,
    transgress_law LONGTEXT,
    transgress_type varchar(100),
    transgress_name LONGTEXT,
    illegal_money int,
    PRIMARY KEY(caseId)
);
CREATE INDEX Transgress_Info_index ON Transgress_Info (fac_uniformno,fac_name);
ALTER TABLE Appeal
ADD FOREIGN KEY(fac_uniformno,fac_name) REFERENCES Factory(fac_uniformno,fac_name) ON DELETE NO ACTION ON UPDATE CASCADE,
ADD FOREIGN KEY(caseId,document_no) REFERENCES Penalty_Info(caseId,document_no) ON DELETE NO ACTION ON UPDATE CASCADE;
ALTER TABLE Inspection
ADD FOREIGN KEY(caseId,document_no) REFERENCES Penalty_Info(caseId,document_no) ON DELETE NO ACTION ON UPDATE CASCADE;
ALTER TABLE Labor_Transgress
ADD FOREIGN KEY(transgress_law) REFERENCES Labor_Law(transgress_law) ON DELETE SET NULL ON UPDATE CASCADE;
ALTER TABLE Payment
ADD FOREIGN KEY(caseId,document_no) REFERENCES Penalty_Info(caseId,document_no) ON DELETE NO ACTION ON UPDATE CASCADE;
ALTER TABLE Penalty_Info
ADD FOREIGN KEY(caseId) REFERENCES Transgress_Info(caseId) ON DELETE NO ACTION ON UPDATE NO ACTION;
ALTER TABLE Transgress_Info
ADD FOREIGN KEY(fac_uniformno,fac_name) REFERENCES Factory(fac_uniformno,fac_name) ON DELETE NO ACTION ON UPDATE CASCADE;

é€£ç·šå·²é—œé–‰